<div class="header" style="overflow: hidden;"> 
    <!-- <img class="logo" src="../assets/logo.png"> -->
    <div class="company">  ABC Insurance Company </div>

    <!-- <div class="logout">
        <img class="logoutIcon" src="../assets/logout_icn.png">
    </div>

        <img class="helpIcon" src="../assets/help_icn.png">
        <img class="notificationIcon" src="../assets//notification_icn.png">
        <img class="userIcon" src="../assets/user_img.png">
        <p class="welcome"> Welcome <br/>
            Mr. Mark Wells
        </p>
   -->
</div>

<div class="mainDiv">

    <div class="center">

        <div class="homeowner">Homeowners Insurance</div>
        <!-- <hr style="margin-top: 0em;"> -->
        <hr style="width:85%;margin-left:30px;margin-top: 1px; color: #fff;background-color: #fff;">

        <div class="zip"> I  want  to  get  a  homeowners  insurance  quote.  My  postal  code  is </div>

        <div class="row">
          <textarea class="textQuote"> </textarea> 
          <button class="startQuote" (click)="navigateToCustomerInfo()"> START QUOTE</button>
       </div>

       <div class="row1"> Continue on existing quote.</div>

       <div class="row2">
           <textarea class="textEnter" placeholder="Enter quote # here"></textarea>
       </div>
    </div>

</div>