<h1 mat-dialog-title></h1>
<div mat-dialog-content>
        <div class="head">For Proposal Mark Wells, the customer seriousness <br/>
                score is only 20%. The likelihood of dummy data is​ <br/>
                    very high. Below are the rationale:​​</div>
            
            <div>
                The Date of Birth of 01/01/1970 is likely to be a dummy Date <br/>
                of Birth. According to US Census, Birth rate is highest in<br/>
                August-September and lowest during December - January.​<br/>
                The Email id: mark_123@gmail.com is invalid.​<br/>
                Prospect has quoted multiple times in the past 6 months.​<br/>
                This is the prospect’s 2nd quote in the last 2 months.​<br/>
                The telephone number is not valid 
    </div> 
</div>