<!-- <button class="pop" mat-button mat-dialog-close><img src="../assets/poup_drag_icn.png"></button> -->
<div class="row">
    <img src="../assets/poup_drag_icn.png" style="margin: 5px;">
    <label style="margin-left: 120px; font-family: Verdana;font-size: 13px;font-weight: bold; text-align: center;">AI Insights</label>

      <img mat-button mat-dialog-close class="crossimg" src="../assets//pluse_icn" src="../assets/close_icn.png " > 
</div>
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
        <div class="head">For Proposal Mark Wells, the customer seriousness <br/>
                score is only 20%. The likelihood of dummy data is​ <br/>
                    very high. Below are the rationale:​​
        </div>
        <br/>
            <div>
                <ul>
                    <li>The Date of Birth of 01/01/1980 is likely to be a dummy Date <br/>
                        of Birth. According to US Census, Birth rate is highest in<br/>
                        August-September and lowest during December - January.</li><br/>
                    <li>The Email id: abc@gmail.com is invalid.</li><br/>

                    <li>Prospect has quoted multiple times in the past 6 months.</li><br/>
                    <li>This is the prospect’s 2nd quote in the last 2 months.</li><br/>
                    <li>The telephone number is not valid</li>
                </ul>
            </div> 
</div>