<div class="basicinfo">
    <label class="detail_one">Coverages</label>
  </div>
  <div class="detailsrow1">
  <label class="emercency">Dwelling Protection:</label>
  <label class="emercency">Protect Personal Property Against: </label>
  <label class="emercency">Additional Living expenses:</label>
  </div>
  
  <div class="detailsrow1">
  <label class="whole_two">{{workQuote.coverages.dwellingprotection}}</label>
  <select class="whole_selct" id="#">
    <option selected="selected" value="one">{{workQuote.coverages.propertyprotection}}</option>
    </select>
  <label class="addtional_one_value">{{workQuote.coverages.additionallivingexpenses}}</label>
  </div>
  <div class="detailsrow1" style="margin-top: 5px;">
  <label class="emercency">Other Structures:</label>
  <label class="emercency">Personal Property Protection:</label>
  <label class="emercency">Family Liability Protection:</label>
  </div>
  
  <div class="detailsrow1">
  <label class="whole_one_value">{{workQuote.coverages.otherstructures}}</label>
  <label class="whole_two">{{workQuote.coverages.propertyprotection}}</label>
  <label class="whole_two two">{{workQuote.coverages.familyliabilityprotection}}</label>
  </div>
  
  <div class="basicinfo">
    <label class="detail_one">Discounts & Surcharges</label>
  </div>
  <div class="detailsrow1">
  <label class="emercency">New Construction Discount:</label>
  </div>
  
  <div class="detailsrow1">
  <label class="whole_two">{{workQuote.discountsandsurcharges.newconstructiondiscount}}</label>
  </div>
  <div class="basicinfo">
    <label class="detail_one">Deductibles</label>
  </div>
  <div class="detailsrow1">
  <label class="emercency">All Perils deductible:</label>
  <label class="emercency">Windstorm/Hail Deductible: </label>
  </div>
  
  <div class="detailsrow1">
  <label class="whole_one_value">{{workQuote.deductibles.allperilsdeductible}}</label>
  <label class="whole_one_value">{{workQuote.deductibles.windstormorhail}}</label>
  
    </div>
   
    <div class="detailsrow1" style="margin-top: 20px;">
    <label class="emercency">ESTIMATED PREMIUM:</label>
    <button class="quoteButton"> EMAIL QUOTE</button>
    </div>
    
    <div class="detailsrow1">
    <label class="whole_two">{{workQuote.finalpremium}}</label>
    </div>
    <br>
    <br>
  