<!-- <button class="pop" mat-button mat-dialog-close><img src="../assets/poup_drag_icn.png"></button> -->
<div class="row">
    <img src="../assets/poup_drag_icn.png" style="margin: 5px;">
    <label style="margin-left: 100px; font-family: Verdana;font-size: 13px;font-weight: bold; text-align: center;">AI Insights</label>

      <img mat-button mat-dialog-close class="crossimg" src="../assets//pluse_icn" src="../assets/close_icn.png " > 
</div>
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
        <div class="head">These observations are based on<br/>
             property details provided and our existing <br/>
             records. Surveyor to pay special attention <br/>
             to the below aspects: <br/>
            
               
        </div>
        <br/>
            <div>
                <ul>
                    <li>The property has a 5 year old Gable roof.<br/>
                        Based on our records, the area where the<br/>
                        property is located is frequented by heavy<br/>
                        windstorm. Without adequate support, the<br/>
                        roof might collapse. It is advisable <br/>
                        that the Surveyor checks for adequate <br/>
                        roof support.</li>
                        <br/>
                    
                    <li>Given the proximity of the property to<br/>
                        forest area, there is a 20% probability<br/>
                        that tree root overgrowth might damage<br/>
                        the foundation of the building. It<br/>
                        is recommended that the surveyor checks<br/>
                        for surrounding tree cover to rule out this hazard.<br/>
                    </li>
                </ul>
            </div> 
</div>

<!-- The property has a 5 year old Gable roof. Based on our records, the area where the property is located is frequented by heavy windstorm. Without adequate support, the roof might collapse  Hence it is advisable that the Surveyor makes a special note of the roof support.
 -->