.main{
    background-color: #e8e8e8;
}

.in{
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.in1{
    margin-top: 30px;
}
.labels{
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
}

.label2{
    font-family: Verdana;
    font-size: 13px;
    font-weight: 20px;

}
.labels1{
    font-family: Verdana;
    font-size: 13px;
    margin-left: 65px;
    font-weight: 20px;
}

.labels3{
    font-family: Verdana;
    font-size: 13px;
    margin-left: 15px;
    font-weight: 20px;
}

.margin{
    margin-left: 100px;
}

.margin1{
    margin-left: 15px;
}

.row2{
    margin-top: 20px;
}

.rating{
    margin-left: 30px;
}
.rating2{
    margin-left: 80px;
}

.mat-dialog-container{
    background-color: #e8e8e8;

}

.chek{
    float: right;
    /* height: 20px;
    width: 20px; */
    margin-right: 20px;
    border-color: #e6e6e6;
}

.close{
    float: right;
    margin-top: 2px;
    border: none;
}

.pop{
    float: left;
    border: none;
    margin-top: 2px;

}