<div class="main">
    <div class="in">
        <label class="labels">Surveyor 1</label>

        <div>
            <label class="label2">Name:</label>
            <label class="labels1">Email-id:</label>
            <label class="labels1 margin">Surveyor rating:</label>
        </div>

        <div>
            <label class="label2">James C. Hyre</label>
            <label class="labels3">james.hyre@gmail.com</label>
            <label class="labels3 margin1">AAA</label>

        </div>

        <div class="row2">
            <label class="label2">Proximity location:</label>
            <label class="labels1 rating">Rating:</label>
        </div>

        <div>
            <label class="label2"> < 10 miles </label>
            <label class="labels1 rating2">AAA</label>
        </div>
    </div>

    <div class="in">
        <label class="labels">Surveyor 2</label>

        <div>
            <label class="label2">Name:</label>
            <label class="labels1">Email-id:</label>
            <label class="labels1 margin">Surveyor rating:</label>
        </div>

        <div>
            <label class="label2">James C. Hyre</label>
            <label class="labels3">james.hyre@gmail.com</label>
            <label class="labels3 margin1">AAA</label>

        </div>

        <div class="row2">
            <label class="label2">Proximity location:</label>
            <label class="labels1 rating">Rating:</label>
        </div>

        <div>
            <label class="label2"> < 10 miles </label>
            <label class="labels1 rating2">AAA</label>
        </div>
    </div>

    <div class="in">
        <label class="labels">Surveyor 3</label>

        <div>
            <label class="label2">Name:</label>
            <label class="labels1">Email-id:</label>
            <label class="labels1 margin">Surveyor rating:</label>
        </div>

        <div>
            <label class="label2">James C. Hyre</label>
            <label class="labels3">james.hyre@gmail.com</label>
            <label class="labels3 margin1">AAA</label>

        </div>

        <div class="row2">
            <label class="label2">Proximity location:</label>
            <label class="labels1 rating">Rating:</label>
        </div>

        <div>
            <label class="label2"> < 10 miles </label>
            <label class="labels1 rating2">AAA</label>
        </div>
    </div>
</div>
