<div class="main">
  <div class="details">


    <div class="detailsrow1">
      <label class="detail_one">Name:</label>
      <label class="detail_two">Quote No:</label>
      <label class="detail_two">Home Built in:</label>
    </div>

    <div class="detailsrow1">
      <label class="detail_one_value dataFontSize">{{workQuote.customerinfo.name}}</label>
      <label class="detail_two_value dataFontSize marginQuote">{{quoteNo}}</label>
      <label class="detail_two_value dataFontSize margin">{{workQuote.customerinfo.homebuiltin}}</label>
    </div>

    <div class="detailsrow1" >
      <label class="detail_one">DOB:</label>
      <label class="detail_two">Desired coverage start date:</label>
      <label class="detail_two">Area:</label>
    </div>

    <div class="detailsrow1">
      <label class="detail_one_value dataFontSize">{{workQuote.customerinfo.dateofbirth | date:'MM/dd/yyyy'}}</label>
      <label class="detail_two_value dataFontSize">{{workQuote.customerinfo.effectiveDate | date:'MM/dd/yyyy'}}</label>
      <label class="detail_two_value dataFontSize">{{workQuote.customerinfo.area}}</label>
    </div>

    <div class="address_phone" >
      <div class="detailsrow1">
        <label class="detail_one">Address:</label>
        <label class="detail_two">Phone:</label>
        <label class="detail_two">Email</label>
      </div>

      <div class="detailsrow1">
        <label class="detail_one_value dataFontSize">{{workQuote.customerinfo.address}}</label>
        <label class="detail_two_value dataFontSize">{{workQuote.customerinfo.phone}}</label>
        <label class="detail_two_value dataFontSize">{{workQuote.customerinfo.email}}</label>
      </div>
    </div>
  </div>
  <br>
    <div class="basicinfo">
      <label class="detail_one basicFont">Basic Info</label>
  </div>
  <div class="detailsrow1">
    <label class="whole_one">Year Built:</label>
    <label class="whole_one">Purchase Date:</label>
    <label class="whole_one">Burger Alarm:</label>
    <label class="whole_one">No of stories:</label>
  </div>

  <div class="detailsrow1">
    <label class="whole_two dataFontSize">{{workQuote.basicinfo.yearbuilt}}</label>
    <label class="whole_two dataFontSize">{{workQuote.basicinfo.purchasedate | date:'MM/dd/yyyy'}}</label>
    <label class="bAlarm dataFontSize">{{workQuote.basicinfo.burglarsalarm}}</label>
    <label class="whole_two dataFontSize">{{workQuote.basicinfo.noofstories}}</label>
  </div>
  <div class="detailsrow1" style="margin-top: 5px;">
    <label class="whole_one">Square Footage:</label>
    <label class="whole_one">No of stories:</label>
    <label class="whole_one">Fire Spring Killers:</label>
    <label class="whole_one">Single family:</label>
  </div>

  <div class="detailsrow1">
    <label class="whole_two dataFontSize">{{workQuote.basicinfo.squarefootage}}</label>
    <label class="whole_two dataFontSize">{{workQuote.basicinfo.noofstories}}</label>
    <label class="bAlarm dataFontSize">{{workQuote.basicinfo.firesprinklers}}</label>
    <label class="whole_two dataFontSize">{{workQuote.basicinfo.singlefamily}}</label>
  </div>
  <div class="detailsrow1" style="margin-top: 5px;">
    <label class="whole_one">Fire Alarm:</label>
    <label class="backup">Emergency Backup generator:</label>
    <label class="emercency" style="size: 16px;">Home within 1,000 feet of a fire hydrant?</label>
  </div>

  <div class="detailsrow1">
    <label class="whole_two dataFontSize">{{workQuote.basicinfo.firealarm}}</label>
    <label class="whole_one_value dataFontSize">{{workQuote.basicinfo.emergencybackupgenerator}}</label>
    <label class="whole_one_value dataFontSize">{{workQuote.basicinfo.firehydrant}}</label>
  </div>
  <hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;">
  <div class="basicinfo">
    <label class="detail_one basicFont">Exterior</label>
</div>
<div class="detailsrow1">
  <label class="whole_one">Exterior wall type:</label>
    <label class="whole_one">Type of garage:</label>
    <label class="whole_one">Roof style:</label>
    <label class="whole_one">swimming pool:</label>
</div>

<div class="detailsrow1">
  <label class="whole_two dataFontSize">{{workQuote.exterior.buildingmaterial}}</label>
  <label class="whole_two dataFontSize">{{workQuote.exterior.typeofgarage}}</label>
  <label class="bAlarm dataFontSize">{{workQuote.exterior.roofshape}}</label>
  <label class="bAlarm dataFontSize">{{workQuote.exterior.swimmingpool}}</label>
</div>
<div class="detailsrow1" style="margin-top: 5px;">
  <label class="whole_one">Roof made of:</label>
  <label class="whole_one">Porch:</label>
  <label class="whole_one">Roof Age:</label>
  <label class="whole_one">Deck:</label>
</div>

<div class="detailsrow1">
  <label class="whole_two dataFontSize">{{workQuote.exterior.roofmaterial}}</label>
  <label class="whole_two dataFontSize">{{workQuote.exterior.porch}}</label>
  <label class="whole_two dataFontSize">{{workQuote.exterior.roofage}}</label>
  <label class="whole_two dataFontSize">{{workQuote.exterior.deck}}</label>
</div>
<hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;">

<div class="basicinfo">
  <label class="detail_one basicFont">Interior </label>
</div>
<div class="detailsrow1">
<label class="whole_one">Foundation Type:</label>
<label class="whole_one"> Bath Quality:</label>
<label class="whole_one">Fire Place:</label>
</div>

<div class="detailsrow1">
<label class="whole_two dataFontSize">{{workQuote.interior.foundationtype}}</label>
<label class="whole_two dataFontSize">{{workQuote.interior.bathquality}}</label>
<label class="whole_two dataFontSize">{{workQuote.interior.fireplace}}</label>
</div>
<div class="detailsrow1" style="margin-top: 5px;">
<label class="whole_one"> Kitchen Quality:</label>
<label class="whole_one"> Kitchen countertops:</label>
</div>

<div class="detailsrow1">
<label class="whole_two dataFontSize">{{workQuote.interior.kitchenquality}}</label>
<label class="whole_two dataFontSize">{{workQuote.interior.kitchencountertops}}</label>
</div>
<hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;">

<div class="basicinfo">
  <label class="detail_one basicFont">Customer Info </label>
</div>
<div class="detailsrow1">
<label class="whole_one">Age:</label>
<label class="whole_one">Smoker status:</label>
<label class="emercency">Past property claims or losses:</label>
</div>

<div class="detailsrow1">
<label class="whole_two dataFontSize">{{workQuote.exterior.roofage}}</label>
<label class="whole_two dataFontSize">{{workQuote.customerinfo.smokerstatus}}</label>
<label class="whole_one_value dataFontSize">{{workQuote.customerinfo.pastpropertyclaimsorlosses}}</label>
</div>
<div class="detailsrow1" style="margin-top: 5px;">
<label class="whole_one">Marital Status:</label>
<label class="whole_one">Criminal Convictions:</label>
<label class="emercency">Running business from home:</label>
</div>

<div class="detailsrow1">
<label class="whole_two dataFontSize">{{workQuote.customerinfo.maritalstatus}}</label>
<label class="whole_two dataFontSize">{{workQuote.customerinfo.criminalconvictions}}</label>
<label class="whole_one_value dataFontSize">{{workQuote.customerinfo.runningbusinessfromhome}}</label>
</div>

<hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;">

<!-- deleted -->
<div class="basicinfo">
  <label class="detail_one basicFont">Summary Coverages</label>
</div>
<div class="detailsrow1">
<label class="emercency">Dwelling Protection:</label>
<label class="emercency">Protect Personal Property Against: </label>
<label class="emercency">Additional Living expenses:</label>
</div>

<div style="margin-top: 4px;">
<input class="whole_split_four_one  dataFontSize" [(ngModel)] = "workQuote.coverages.dwellingprotection">
<input class="whole_split_four_one" style="margin-left: 68px;" [(ngModel)] = "workQuote.coverages.propertyagainst">

<input class="whole_split_four_one" style="margin-left: 68px;" [(ngModel)] = "workQuote.coverages.additionallivingexpenses">
</div>
<div class="detailsrow1" style="margin-top: 5px;">
<label class="emercency">Other Structures:</label>
<label class="emercency">Personal Property Protection:</label>
<label class="emercency">Family Liability Protection:</label>
</div>

<div style="margin-top: 4px;">
<input class="whole_split_four_one"  [(ngModel)] = "workQuote.coverages.otherstructures">
<input class="whole_split_four_one" style="margin-left: 68px;" [(ngModel)] = "workQuote.coverages.propertyprotection">
<input class="whole_split_four_one" style="margin-left: 68px;" [(ngModel)] = "workQuote.coverages.familyliabilityprotection">
</div>
<hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;">

<div class="basicinfo">
  <label class="detail_one basicFont">Discounts & Surcharges</label>
</div>
<div class="detailsrow1">
<label class="emercency">New Construction Discount:</label>
</div>

<div style="margin-top: 4px;">
  <input class="whole_split_four_one" [(ngModel)] = "workQuote.discountsandsurcharges.newconstructiondiscount">
</div>
<div class="basicinfo">
  <label class="detail_one">Deductibles</label>
</div>
<div >
<label class="emercency">All Perils deductible:</label>
<label class="windstorm">Windstorm/Hail Deductible: </label>

</div>

<div style="margin-top: 4px;">
  <input class="whole_split_four_one" [(ngModel)] = "workQuote.deductibles.allperilsdeductible">
  <input class="whole_split_four_one" style="margin-left: 75px;" [(ngModel)] = "workQuote.deductibles.windstormorhail">

  </div>
  <br>
  <br>
  <div class="detailsrow1" >
  <label class="emercency">FINAL PREMIUM:</label>
  </div>
  
  <div style="margin-top: 4px;">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.finalpremium">
  </div>
  <br>


  <div *ngIf="show; else notShow">
    <div class="form-group">
      <div>
          <button id="button1id" name="button1id" class="button_colour" (click)="emailRequest()">Email for additional documents</button>
          <button id="button2id" name="button2id" class="button_colour" (click)="propertyRequest()" >Request Property Inspection</button>
          <button id="button3id" name="button3id" class="button_colour" (click)="finalRequest()">Prepare Final Offer</button>
  
        </div>
  </div>
  </div>
  
  <ng-template #notShow>
    <div class="form-group">
      <div>
          <button id="button1id" name="button1id" class="button_colour" (click)="navigateDaashboard()">Request to  Bind</button>
          <button id="button2id" name="button2id" class="button_colour" (click)="rejectRequest()">Reject Quote</button>
          <button id="button3id" name="button3id" class="button_colour" (click)="bindRequest()">Contact Prospect</button>
  
        </div>
  </div>
  </ng-template>

  

  <br>
  <br>


</div>