.main{
    width: 75%;
    height: 500px;
    position: fixed;
    background: #ffffff;
    margin-left: 165px;
    border: 2px #e8e8e8 solid;
    }

   .row{
       width: 100%;
       height: 35px;
       background: linear-gradient(to bottom, #ffffff, #e8e8e8);
    }
  
   .zelros{
    width: 270px;
    height: 469px;  
   }

   .row1{
    width: 100%;
    height: 464px;
    display: flex;
    background-color: #e8e8e8;
      }

   .report{
    width: 100%;
    height: 464px;
    font-family: verdana;
    text-align: center;
     } 
 
      .ins{
        height: 50px;
        width: 100%;
        border: none;
        text-align: center;
        font-weight: bold;
        background-color: #e0e0e0;
    }

    .pdfView{
        height: 414px;
        width: 100%;
        background-color: #e8e8e8;
    }
