<div class="header" style="overflow: hidden;"> 
  <img class="logo" src="../assets/logo.png">

  <div class="logout">
      <img class="logoutIcon" src="../assets/logout_icn.png">
  </div>

      <img class="helpIcon" src="../assets/help_icn.png">
      <img class="notificationIcon" src="../assets//notification_icn.png">
      <img class="userIcon" src="../assets/user_img.png">
      <p class="welcome"> Welcome <br/>
          Mr. Mark Wells
      </p>
      <!-- <div class="rightDiv">
        fhfghfgj
      </div> -->

</div>


<div class="box">
    <div><app-sidebar></app-sidebar></div>
    <div><app-underwriting></app-underwriting></div>
    <div class="v1"></div>
    <div><app-zelros></app-zelros></div>
  </div>