<div class="box">
    <div class="inn-75">
  <div class="header" style="overflow: hidden;"> 
    <!-- <img class="logo" src="../assets/logo.png"> -->
    <div class="company">  ABC Insurance Company </div>

    <div class="logout">
        <img class="logoutIcon" src="../assets/logout_icn.png">
    </div>
  
        <img class="helpIcon" src="../assets/help_icn.png">
        <img class="notificationIcon" src="../assets//notification_icn.png">
        <img class="userIcon" src="../assets/user_img 2.png">
        <p class="welcome"> Welcome  Ms. Rachel Austin<br/>
            ABC Insurance Agent
        </p>
        <!-- <div class="rightDiv">
          fhfghfgj
        </div> -->
  
  </div>
  <div class="box">
    <div div class="w-16"  ><app-agent-sidebar style="position: fixed;width: 16%;"></app-agent-sidebar></div>
    <div div class="w-60" style="margin-left: 22%; width: 100%;"><app-underwritingedit></app-underwritingedit></div>

      <!--  <div><app-underwriting></app-underwriting></div> --> 
  
    
    
  </div>
  </div>
  <div class="v1"></div>
  <div div class="w-25 h-580px pl-9px pr-9px" >
    <!-- <app-zelros></app-zelros> -->
<!-- Zelros component -->
    <div class="rightDiv">

      <div style="background-color: #fff; height: 600px; width: 285px; padding: 4px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  
      
  
      <div class="shape1">
          <img style="width: 102px; height: 29px;" class="logo" src="/assets/zelros_logo.png">
      </div>
  
      <div class="shape2">
  
          <div class="roundshape">
           <div style="height:22px ; margin-left: 15px;">
              <label class="helloLabel1">Hello </label>
         
              <label class="nameLabel"> {{zelrosResponse.name}}</label>
              <label>,</label>
            </div>  
            <div style="height:22px ; margin-left: 15px;">  <label class="label2">I have analysed quote for you</label></div>
            <div style="height:22px ; margin-left: 15px;">   <label class="helloLabel1 quoteLabel">{{quoteNo}}</label></div>
          </div>
  
          <div class="row2">
            <div class="div1">

               <div style="margin-top: 30px; font-weight: bold;font-family: Roboto; font-size: 22px;">
                   <label class="scoreValue">{{zelrosResponse.valid[0].value}}</label><br/>
               </div>


                <div style="margin-top: 5px; margin-left: 5px;"> 
                 <label class="labelCustomer">Customer </label><br/>
                 <label class="labelCustomer">Seriousness Score</label>
                </div>
                <button (click) = "openDialog()" style="background: transparent; border: none; margin-left:80px; margin-bottom: 20px;"><img src="/assets/pluse_icn.png" ></button>
                <!-- <img (click) ="openDialog()" style="margin-left:100px; margin-top: 10px;" src="/assets/pluse_icn.png"> -->
            </div>
             <div class="v2">

               <div style="margin-top: 30px; font-weight: bold; padding: 16px;font-family: Roboto; font-size: 22px;">
                   <!-- <label class="scoreValue"></label> <br/> -->
               </div>
               
                 <div style="margin-top: 5px;">
                     <label class="labelAccuracy">Investing time </label><br/>
                     <label class="labelAccuracy">may not be</label><br/>
                     <label class="labelAccuracy">relevant.</label><br/>

                     <!-- <label class="labelAccuracy">relevent</label> -->
                 </div>
                 <!-- <button  style="background: transparent; border: none; margin-left:60px;"><img src="/assets/pluse_icn.png" ></button> -->
 
                 <!-- <img style="margin-left:100px; margin-top: 10px;" src="/assets/pluse_icn.png" > -->
 
             </div>
             
         </div>
          <hr style="margin-top: 20px;">
 
          <div class="row2">
             <div class="div1">

               <!-- <div style="margin-top: 10px; font-weight: bold;font-family: Roboto; font-size: 22px;">
                   <label class="scoreValue">{{zelrosResponse.valid[2].value}}</label><br/>
               </div>
                 <div style="margin-top: 5px; margin-left: 20px;">
                 <label class="labelCustomer">Likelihood of</label><br/>
                 <label class="labelCustomer">standard</label><br/>
                 <label class="labelCustomer">acceptance</label>
                 </div>
                 <button  style="background: transparent; border: none; margin-left:80px;"><img src="/assets/pluse_icn.png" ></button> -->
 
                 <!-- <img style="margin-left:100px;" src="/assets/pluse_icn.png"> -->
 
             </div>
             <!-- <div class="v2">
                
                 <div style="margin-top: 30px; font-weight: bold;padding: 16px;font-family: Roboto; font-size: 22px;">
                   <label class="scoreValue">{{zelrosResponse.valid[3].value}}</label> <br/>
               </div>
                 <div style="margin-top: 1px;;">
                     <label class="labelAccuracy">Claim Risk score </label><br/>
                     <label class="labelAccuracy"></label>
                 </div>
                 <button  style="background: transparent; border: none; margin-left:60px;"><img src="/assets/pluse_icn.png" ></button> -->
 
                 <!-- <img style="margin-left:100px; margin-top: 20px;" src="/assets/pluse_icn.png"> -->
 
             <!-- </div>
             
         </div>
         <hr style="margin-top: 20px;">  -->
 
         <!-- <div class="row3">
             <label class="skipLabel">You can skip the onsite inspection.</label>
         </div> -->
 
         <div class="row4">
             <label class="textLast">I suggest to </label> <label class="accept" style="margin-left: 5px;">not to forward </label> <label class="textLast" style="margin-left: 5px;">the </label><br/>
             <label class="textLast "style="margin-left: 50px;">quote for further processing.</label>
         </div>
     </div>
  
  </div>
  </div>
  </div>
  