.box {
    display: flex;
  }
  
  .v1{
    border-left: 7px solid #0066a1;
    
  }
    .header{
      z-index: 1;
      padding: .5rem 1.25rem;
      background-color: #0066a1;
      position: sticky;
      top: 0;
      height: 76px;
      color: #ffffff;
      overflow: hidden;
      width: 96%;
    }
    
    .logo{
      height: 32px;
      width: 176px;
      margin-top: 14px;
    }
    
    .logoutIcon{
      float: right;
      height: 30px;
      width: 30px;
      margin-top: 15px;
    }
    
    .logout{
      float: right;
      fill: #000;
      height: 76px;
      width: 79px;
    }
    
    .helpIcon{
      float: right;
      height: 30px;
      width: 30px;
      margin-top: 15px;
      margin-right: 26px;
    }
    
    .notificationIcon{
      float: right;
      height: 30px;
      width: 24px;
      margin-top: 15px;
      margin-right: 26px;
    }
    
    .userIcon{
      float: right;
      height: 45px;
      width: 45px;
      margin-top: 15px;
      margin-right: 26px;
    }
    
    .welcome{
      float: right;
      margin-top: 15px;
      margin-right: 14px;
    }
    

    /* for zelros */

.rightDiv{
      background:#c8c8c8; 
      width:250px; 
      height:100%; 
      padding-top: 92px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
  }
  .logo{
      margin-left: 20px;
  }
  
  .shape1{
      height: 44px;
      width: 221px;
      margin-left: 2px;
      background-color: #fff;
  }
  
  .nameLabel{
      color: 	#eb5b28;
      margin-top: 30px;
      /* margin-left: 15px; */
      font-family: Verdana;
      font-weight: bold;
      font-size: 15px;
  }

  .nameLabel2{
    color: 	#eb5b28;
    margin-top: 30px;
    /* margin-left: 15px; */
    font-family: Verdana;
    font-weight: bold;
    font-size: 10px;
}
  
  .shape2{
      width: 221px;
      height: 84px;
      background-color: #e6e6e6;
      margin-top: 12px;
      border-radius: 15px;
  }
  
  .helloLabel{
      margin-top: 30px;
      /* margin-left: 15px; */
      font-family: Verdana;
      color: #000;
      padding: 12px;
      font-weight: bold;
      font-size: 15px;
  }
  .row1{
      /* margin-left: 15px; */
      margin-top: 13px;
      padding: 12px;
  }
  
  .label2{
      font-size: 10px;
      font-family: Verdana;
      color: #000;
      margin-left: 13px;
      font-weight: bold;
  }
  .quoteLabel{
      font-weight: bold;
      
  }
  
  .row2{
      width: 235px;
      height: 134px;
      margin-top: 10px;
      background-color:#fff;
  }
  
  .scoreValue{
      color: 	#eb5b28;
      padding: 30px;
      font-size: 20px;
      }
  
  .scoreLabel{
      margin-top: 30px;
      /* margin-left: 15px; */
      font-family: Verdana;
      color: #000;
      font-weight: 2px;
      text-size-adjust: 2px;
  }
  
  .v2{
      height: 120px;
      border-left: 2px solid #cecece;
      margin-left: 130px;
  }
  
  .labelAccuracy{
      margin-left: 10px;
      margin-top: 20px;
      /* padding: 16px; */
      font-family: Verdana;
      font-size: 10px;
  }
  .labelCustomer{
      padding: center;
      font-family: Verdana;
      margin-top: 20px;
      font-size: 10px;
  }
  .row3{
      margin-top: 20px;
      margin-left: 25px;
  }
  
  .skipLabel{
      font-family: Verdana;
      font-weight: bold;
      font-size: 12px;
  }
  
  .row4{
      margin-top: 12px;
      height: 52px;
      width: 185px;
      background-color: #fff;
      padding: 12px;
      border: groove;
  }
  
  .textLast{
      font-family: Verdana;
      font-size: 10px;
  }
  
  .margin{
      margin-left: 8px;
  }
  
  .div1{
      float: left;
  }