<!-- <div style="height: 76px;">

</div> -->
<div class="header" style="overflow: hidden;"> 
        <img class="logo" src="../assets/logo.png">
    
        <div class="logout">
            <img class="logoutIcon" src="../assets/logout_icn.png">
        </div>
    
            <img class="helpIcon" src="../assets/help_icn.png">
            <img class="notificationIcon" src="../assets//notification_icn.png">
            <img class="userIcon" src="../assets/user_img.png">
            <p class="welcome"> Welcome <br/>
                Mr. Mark Wells
            </p>
      
    </div>
<div class="main">
<div class="details">


    <mat-tab-group  mat-align-tabs="center" style="overflow: hidden;">
        <mat-tab label="Customer Info">
                
                <div class="firstTab" style="overflow:auto;">
                        <div class="row1">
                                <label class="firstNameLabel" >First Name</label>
                                <!-- <input placeholder="first"> -->
                                <label class="lastLabel">Last Name</label>
                                <label class="lastLabel">Gender</label>
                                <label class="lastLabel">Age</label>
                                <label class="dobLabel">Date of birth</label>
                        </div>
                        <div class="row2">
                                <input class="firstNameInput" placeholder="First Name" [(ngModel)] = "firstName">
                                <input class="lastNameInput" placeholder="Last Name">

                                <select name="gender" id="gender">
                                        <option class="genderOptions" value="male">Male</option>
                                        <option value="female">Female</option>
                                </select>

                                <input class="ageInput" placeholder="Age">
                                
                                <input class="dateInput" matInput [matDatepicker]="picker" placeholder="Choose a date">
                                <mat-datepicker #picker></mat-datepicker>
                                <button mat-raised-button style="border: none; background: none;" (click)="picker.open()"><img style="height: 20px; width: 20px;" src="/assets/calender_icn.png" ></button>
                        
                        </div>

                        <div class="row3">
                                <label class="firstNameLabel">Marital Status</label>
                                <label class="occupationLabel">Occupation</label>
                                <label class="emailLabel">Email Address</label>
                        </div>

                        <div class="row3">
                                <input class="maritalInput" placeholder="Marital Status">

                                <select class="ocuupation" name="gender" id="gender">
                                        <option class="genderOptions" value="male">Business</option>
                                        <option value="female">Job</option>
                                </select>

                                <input class="lastNameInput" placeholder="Email Address">
                        </div>

                        <div class="row4">
                                <hr style="width:95%;margin-left:30px;margin-top: 1px; color: #333333;background-color: #333333;">
                        </div>

                        <div class="row5">
                                <label class="questionLabel">What is the address of home you want to insure?</label>
                        </div>

                        <div class="row6">
                                <label class="firstNameLabel">Street Address</label>
                                <label class="unitLabel">Unit Number</label>
                                <label class="emailLabel">City</label>
                                <label class="unitLabel">State</label>
                                <label class="unitLabel">Zip Code</label>
                        </div>

                        <div class="row7">
                                <input class="streetInput" placeholder="Street Address">
                                <input class="unitInput" placeholder="Unit Input">

                                <select class="ocuupation" name="gender" id="gender">
                                        <option class="genderOptions" value="male">Bella</option>
                                </select>

                                <input class="unitInput" placeholder="State">
                                <input class="unitInput" placeholder="Zip Code">
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Desired coverage start date</label>
                                <label class="questionLabels labelMargin"> Do you currently have property isuue?</label>
                        </div>

                        <div class="row9">
                                <input class="dateInput" matInput [matDatepicker]="picker1" placeholder="Choose a date">
                                <mat-datepicker #picker1></mat-datepicker>
                                <button mat-raised-button style="background: none; border: none;" (click)="picker1.open()"><img style="height: 20px; width: 20px;" src="/assets/calender_icn.png" ></button>
                
                                <select class="ocuupation propertyIssue" name="gender" id="gender">
                                        <option class="genderOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>

                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Do you or a family member</label> 
                                <label class="questionLabels labelMargin"> Have you or any of your family members </label><br/>
                                <label class="questionLabels"> business from home?</label>
                                <label class="questionLabels labelMargin labelCriminal">ever had criminal conviction?</label>
                        </div>

                        <div class="row9">
                                
                                <select class="ocuupation" name="gender" id="gender">
                                        <option class="genderOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>

                                <select class="ocuupation selectIssue" name="gender" id="gender">
                                        <option class="genderOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Does anyone in your home smoke?</label> 
                                <label class="questionLabels labelMargin labelHome"> Do you have any pets at home? </label><br/>
                        </div>

                        <div class="row9">
                                <select class="ocuupation" name="gender" id="gender">
                                        <option class="genderOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>

                                <select class="ocuupation selectIssue" name="gender" id="gender">
                                        <option class="genderOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> How many smokers?</label> 
                                <label class="questionLabels labelPet"> What kind of pet? </label>
                                <label class="questionLabels labelBreed"> How many breeds? </label>
                        </div>

                        <div class="row9">
                                <input class="streetInput smokerInput" placeholder="Smokers">
                                <input class="streetInput petInput" placeholder="Pet">
                                <input class="streetInput breedInput" placeholder="Number of breeds">
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Have you ever had a policy cancelled by a home insurer?</label> 
                        </div>

                        <div class="row9">
                                <select class="ocuupation" name="gender" id="gender">
                                        <option class="genderOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Name of Insurer</label> 
                                <label class="questionLabels labelMargin labelHome"> Cancellation year </label>
                                <label class="questionLabels labelReason"> Cancellation reason </label>
                        </div>

                        <div class="row9">
                                <input class="streetInput smokerInput" placeholder="Insurer">
                                <input class="unitInput yearInput" placeholder="Year">
                                <input class="streetInput reasonInput" placeholder="Reason">
                        </div>
                </div>


        </mat-tab>


        <mat-tab label="Property Info">
                
        <div class="secondTab">
                <div class="row5">
                        <label class="questionLabel">What year was the home built?</label>
                        <label class="questionLabel labelMargin">Number of peple living in the household</label>
                </div>

                <div class="row7">
                        <input class="streetInput" placeholder="Year">
                        <input class="streetInput labelCriminal" placeholder="Number of people">
                </div>

                <div class="row5">
                        <label class="questionLabel">Purchase date of home</label>
                        <label class="questionLabel labelCriminal ">Approximate living area</label>
                </div>

                <div class="row7">
                        <input class="streetInput" placeholder="Date">
                        <input class="streetInput labelCriminal" placeholder="Living area">
                </div>

                <div class="row5">
                        <label class="questionLabel">Exterior type</label>
                        <label class="questionLabel labelRoof ">Roof shape</label>
                </div>

                <div class="row9">
                        <select class="ocuupation" name="gender" id="gender">
                                <option class="genderOptions" value="yes">Brick stone</option>
                        </select>

                        <select class="ocuupation selectIssue margin" name="gender" id="gender">
                                <option class="genderOptions" value="yes">Flat</option>
                        </select>
                </div>

                <div class="row5">
                        <label class="questionLabel">Have you had any property insurance claims </label>
                        <label class="questionLabel labelSwimming">Is there a swimming pool on the premises?</label><br/>
                        <label>or losses in the past 7 years?</label>
                </div>

                <div class="row7">
                        <input class="streetInput" placeholder="yes/no">
                        <input class="streetInput labelCriminal" placeholder="yes/no">
                </div>

                <div class="row5">
                        <label class="questionLabel">Is there a swimming pool on the premises?</label>
                        <label class="questionLabel labelSwimming labelSwimming">What material is the kitchen countertops made of?</label><br/>
                </div>

                <div class="row7">
                        <input class="streetInput" placeholder="yes/no">

                        <select class="ocuupation selectIssue" name="gender" id="gender">
                                <option class="genderOptions optionsInput" value="yes">Wood</option>
                        </select>
                </div>

                <div class="row5">
                        <label class="questionLabel">Is your home within 1,000 feet of a fire hydrant?</label>
                        <label class="questionLabel  labelFoundation">Type of Foundation</label><br/>
                </div>

                <div class="row7">
                        <input class="streetInput" placeholder="yes/no">

                        <select class="ocuupation selectIssue" name="gender" id="gender">
                                <option class="genderOptions labelFoundation1" value="yes">Closed basement</option>
                        </select>
                </div>


                <div class="row5">
                        <label class="questionLabel">Building Material</label>
                        <label class="questionLabel labelRoof ">Type of garage</label>
                </div>

                <div class="row9">
                        <select class="ocuupation" name="gender" id="gender">
                                <option class="genderOptions" value="yes">Solid Brick</option>
                        </select>

                        <select class="ocuupation selectIssue" name="gender" id="gender">
                                <option class="genderOptions" value="yes">Car attached</option>
                        </select>
                </div>

                <div class="row5">
                        <label class="questionLabel">No. of Stories</label>
                        <label class="questionLabel labelRoof">Select the protective devices installed in your home?</label>
                </div>

                <div class="row7">
                        <select class="ocuupation " name="gender" id="gender">
                                <option class="genderOptions" value="yes">1</option>
                                <option value="no">2</option>
                                <option value="no">3</option>
                        </select>
                        <mat-checkbox class="labelRoof">A burglar alarm that sounds in your home​</mat-checkbox>
                        <mat-checkbox class="labelRoof">A for alarm that reports to a fire station</mat-checkbox>
                        <mat-checkbox class="labelRoof">Multiple fire sprinklers throughout the home</mat-checkbox>
                        <mat-checkbox class="labelRoof">An emergency backup generator</mat-checkbox>
                        <mat-checkbox class="labelRoof">A home automation system</mat-checkbox>
                        <mat-checkbox class="labelRoof">None of the above​</mat-checkbox>
                </div>


        </div>

        <div>
                <button class="button" (click) = "navigateToUnderwriter()">Request Quote</button>
                <div>All coverages and discounts are subject to terms, conditions, availability, and qualifications.</div>
                <div>This is a brief description of coverages; this is not a contract. </div>
                <div> Please contact a local agent or call 151-200-300 for more information.</div>
                
        </div>
        </mat-tab>


        <!-- <mat-tab label="Summary of Coverages">

                <div class="basicinfo">
                        <label class="detail_one">Coverages</label>
                      </div>
                      <div class="detailsrow1">
                      <label class="emercency">Dwelling Protection:</label>
                      <label class="emercency">Protect Personal Property Against: </label>
                      <label class="emercency">Additional Living expenses:</label>
                      </div>
                      
                      <div class="detailsrow1">
                      <label class="whole_two">{{workQuote.coverages.dwellingprotection}}</label>
                      <select class="whole_selct" id="#">
                        <option selected="selected" value="one">{{workQuote.coverages.propertyprotection}}</option>
                        </select>
                      <label class="addtional_one_value">{{workQuote.coverages.additionallivingexpenses}}</label>
                      </div>
                      <div class="detailsrow1" style="margin-top: 5px;">
                      <label class="emercency">Other Structures:</label>
                      <label class="emercency">Personal Property Protection:</label>
                      <label class="emercency">Family Liability Protection:</label>
                      </div>
                      
                      <div class="detailsrow1">
                      <label class="whole_one_value">{{workQuote.coverages.otherstructures}}</label>
                      <label class="whole_two">{{workQuote.coverages.propertyprotection}}</label>
                      <label class="whole_two two">{{workQuote.coverages.familyliabilityprotection}}</label>
                      </div>
                      
                      <div class="basicinfo">
                        <label class="detail_one">Discounts & Surcharges</label>
                      </div>
                      <div class="detailsrow1">
                      <label class="emercency">New Construction Discount:</label>
                      </div>
                      
                      <div class="detailsrow1">
                      <label class="whole_two">{{workQuote.discountsandsurcharges.newconstructiondiscount}}</label>
                      </div>
                      <div class="basicinfo">
                        <label class="detail_one">Deductibles</label>
                      </div>
                      <div class="detailsrow1">
                      <label class="emercency">All Perils deductible:</label>
                      <label class="emercency">Windstorm/Hail Deductible: </label>
                      </div>
                      
                      <div class="detailsrow1">
                      <label class="whole_one_value">{{workQuote.deductibles.allperilsdeductible}}</label>
                      <label class="whole_one_value">{{workQuote.deductibles.windstormorhail}}</label>
                      
                        </div>
                       
                        <div class="detailsrow1" style="margin-top: 20px;">
                        <label class="emercency">FINAL PREMIUM:</label>
                        </div>
                        
                        <div class="detailsrow1">
                        <label class="whole_two">{{workQuote.finalpremium}}</label>
                        </div>
                        <br>
                        <br>
                      

        </mat-tab> -->
    </mat-tab-group>
</div>
</div>