.mat-tab-group {
    margin-bottom: 48px;
  }

  .mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.main{
    margin-top: 10px;
    overflow: hidden !important;
    width: 100%;
    display: flex;
}
.details{
  height: 100%;
  /* background: #f2f2f2; */
  opacity: 90%;
}

.row1{
  margin-top: 40px;
  margin-left: 30px;
}
.row2{
  margin-top: 10px;
  margin-left: 30px;
}
  
.firstNameInput{
  width: 170px;
  height: 36px;
  border-radius: 6px;
  /* opacity: 10%; */
  color: #333333;
  fill: #fff;
  font-family: Verdana;
  font-weight: 14px;
}

.firstNameLabel{
  font-family: Verdana;
  font-weight: 14px;
  color: #000;
}

.lastLabel{
  font-family: Verdana;
  font-weight: 14px;
  color: #000;
  margin-left: 120px;
}
.dobLabel{
  font-family: Verdana;
  font-weight: 14px;
  color: #000;
  margin-left: 90px;
}

.lastNameInput{
  width: 170px;
  height: 36px;
  border-radius: 6px;
  /* opacity: 10%; */
  color: #333333;
  fill: #fff;
  font-family: Verdana;
  font-weight: 14px;
  margin-left: 20px;
}

select{
  width: 130px;
  height: 40px;
  margin-left: 20px;
  border-radius: 6px;
}

.ageInput{
  width: 90px;
  height: 36px;
  border-radius: 6px;
  /* opacity: 10%; */
  color: #333333;
  fill: #fff;
  font-family: Verdana;
  font-weight: 14px;
  margin-left: 20px;
}

.dateInput{
  width: 130px;
  height: 36px;
  margin-left: 30px;
  border-radius: 6px;

}

.row3{
  margin-top: 20px;
  margin-left: 30px;
}

.maritalInput{
  width: 200px;
  height: 36px;
  border-radius: 6px;
  /* opacity: 10%; */
  color: #333333;
  fill: #fff;
  font-family: Verdana;
  font-weight: 14px;
}

.emailLabel{
  font-family: Verdana;
  font-weight: 14px;
  color: #000;
  margin-left: 60px;
}
.occupationLabel{
  font-family: Verdana;
  font-weight: 14px;
  color: #000;
  margin-left: 140px;
}

.ocuupation select{
  height: 36px;
  width: 170px;
}

.row4{
  margin-top: 20px;
}

.row5{
  margin-top: 30px;
  margin-left: 30px;
}

.questionLabel{
  font-family: Verdana;
  font-weight: 16px;
  color: #333333;
}
.row6{
  margin-top: 20px;
  margin-left: 30px;
}

.row7{
  margin-top: 10px;
  margin-left: 30px;
}

.checkbox{
  margin-top: 10px;
  margin-left: 55px;
  display: flex;
}

.streetInput{
  width: 170px;
  height: 36px;
  border-radius: 6px;
  /* opacity: 10%; */
  color: #333333;
  fill: #fff;
  font-family: Verdana;
  font-weight: 14px;
}

.unitInput{
  width: 90px;
  height: 36px;
  border-radius: 6px;
  /* opacity: 10%; */
  color: #333333;
  fill: #fff;
  font-family: Verdana;
  font-weight: 14px;
  margin-left: 20px;
}

.unitLabel{
  font-family: Verdana;
  font-weight: 14px;
  color: #000;
  margin-left: 93px;
}

.row8{
  margin-top: 30px;
  margin-left: 30px;
}

.questionLabels{
  font-family: Verdana;
  font-weight: 16px;
  color: #333333;
}

.labelMargin{
  margin-left: 270px;
}
.labelCriminal{
  margin-left: 320px;
}
.labelHome{
  margin-left: 220px;

}
.row9{
  margin-top: 10px;
  margin-left: 10px;
}

.selectIssue{
  margin-left: 340px;
}

.selectIssuetwo{
  margin-left: 320px;
}

.selectIssuethree{
  margin-left: 360px;
}

.firstTab{
  overflow: auto;
}

.secondTab{
  overflow: auto;
}

.mat-tab-group{
  overflow: hidden !important;
}

.mat-tab .mat-tab-label .mat-tab-label-content{
  overflow: hidden !important;
}

.mat-tab-label {
  font-family: Verdana !important;
  font-weight: 20px !important;
  color: #000 !important;
}
.mat-tab-labels, .mat-tab-label, .mat-tab-link{
  font-family: Verdana !important;
  font-weight: 20px !important;
  color: #000 !important;
}

.mat-tab-label .mat-tab-label-content{
  font-family: Verdana !important;
  font-weight: 20px !important;
  color: #000 !important;
}
.smokerInput{
  width: 90px;
  height: 36px;
  border-radius: 6px;
  /* opacity: 10%; */
  color: #333333;
  fill: #fff;
  font-family: Verdana;
  font-weight: 14px;
  margin-left: 20px;
}
.labelPet{
  margin-left: 320px;
}
.petInput{
  margin-left: 370px;
}

.labelBreed{
  margin-left: 70px;
}

.breedInput{
  margin-left: 28px;
}

.yearInput{
  margin-left: 240px;

}

.labelReason{
  margin-left: 50px;
}
.reasonInput{
  margin-left: 80px;
}
.labelSwimming{
  margin-left: 170px;
}
.labelkitchen{
  margin-left: 182px;
}
.labelFoundation{
  margin-left: 142px;
}
.labelFoundationthree{
  margin-left: 370px;
}

.labelFoundation1{
  margin-left: 80px;
}
.mat-tab-body-content {
  height: 90vh !important;
}

.propertyIssue{
  margin-left: 280px;
}

.labelRoofTwo{
  margin-left: 500px;
}
.labelRoof{
  margin-left: 380px;
}
.labelRoofselect{
  margin-left: 395px;
}
.labelexterier{
  margin-left: 393px;
}

.addedshape{
  margin-left: 30px;
}

.detailsrow1{
  display: flex;
}
.detailsrow2{
  display: flex;
}
.detail_one{
  width:  336px;
  font-family: verdana;
  font-weight: 600;
  font-size: 13px;
  margin-left: 8px;
}

.detail_two{
  min-width: 251px;
  font-family: verdana;
  font-weight: 600;
  margin-left: 8px;
  font-size: 13px;
}
.detail_one_value{
  min-width:336px;
  font-family: verdana;
  font-size: 16px;
  margin-left: 8px;
}

.detail_two_value{
  min-width:251px;
  font-family: verdana;
  font-size: 16px;
}
.address_phone{
  height: 54px;
  background: #e8e8e8;
  margin-top: 4px;
}
.basicinfo{
  min-width: 251px;
  font-family: verdana;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 14px;
}
.whole_one{
  width:  207px;
  font-family: verdana;
  font-weight: 600;
  font-size: 13px;
  margin-left: 8px;
}

.whole_two{
  min-width: 207px;
  font-family: verdana;
  margin-left: 8px;
  font-size: 13px;
}
.emercency{
  width:  336px;
  font-family: verdana;
  font-weight: 600;
  font-size: 13px;
  margin-left: 8px;
}
.whole_one_value{
  min-width:336px;
  font-family: verdana;
  font-size: 13px;
  margin-left: 8px;
}
.whole_selct{
  min-width:200px;
  font-family: verdana;
  font-size: 13px;
  margin-left: 140px;
}
.addtional_one_value{
  min-width:336px;
  font-family: verdana;
  font-size: 13px;
  margin-left: 140px;
}

.two{
  margin-left: 140px;
}

.margin{
  margin-left: 370px;
}

.button{
  float: right;
  margin-right: 100px;
  height: 50px;
  width: 160px;
}

.requestbutton{
  margin-left: 150px;
  height: 50px;
  width: 160px;
  vertical-align: middle;
}

.optionsInput{
  margin-left: 50px;
}


.header{
  z-index: 1;
  padding: .5rem 1.25rem;
  background-color: #0066a1;
  position: sticky;
  top: 0;
  height: 76px;
  color: #ffffff;
  overflow: hidden;
}

.logo{
  height: 32px;
  width: 176px;
  margin-top: 14px;
}

.logoutIcon{
  float: right;
  height: 30px;
  width: 30px;
  margin-top: 15px;
}

.logout{
  float: right;
  fill: #000;
  height: 76px;
  width: 79px;
}

.helpIcon{
  float: right;
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-right: 26px;
}

.notificationIcon{
  float: right;
  height: 30px;
  width: 24px;
  margin-top: 15px;
  margin-right: 26px;
}

.userIcon{
  float: right;
  height: 45px;
  width: 45px;
  margin-top: 15px;
  margin-right: 26px;
}

.welcome{
  float: right;
  margin-top: 15px;
  margin-right: 14px;
}
