<!-- <div style="height: 76px;">

</div> -->
<div class="header" style="overflow: hidden;"> 
        <!-- <img class="logo" src="../assets/logo.png"> -->
        <div class="company">  ABC Insurance Company </div>
    
        <!-- <div class="logout">
            <img class="logoutIcon" src="../assets/logout_icn.png">
        </div>
    
            <img class="helpIcon" src="../assets/help_icn.png">
            <img class="notificationIcon" src="../assets//notification_icn.png">
            <img class="userIcon" src="../assets/user_img.png">
            <p class="welcome"> Welcome <br/>
                Mr. Mark Wells
            </p> -->
      
</div>
<div class="main">
<div class="details">


    <mat-tab-group   mat-align-tabs="center" style="overflow: hidden;" (selectedTabChange)="tabClick($event)">
        <mat-tab label="Customer Info">
                
                <div class="firstTab" style="overflow:auto;">
                        <div>
                                        <div class="row1">
                                <label class="firstNameLabel" >First Name</label>
                                <!-- <input placeholder="first"> -->
                                <label class="lastLabel">Last Name</label>
                                <label class="genderLabel">Gender</label>
                                <label class="ageLabel">Age</label>
                                <label class="dobLabel">Date of birth</label>
                                <!-- <button (click)="show()">show data</button> -->
                        </div>
                        <div class="row2">
                                <input class="form-control firstNameInput" type="text" placeholder="First Name" [(ngModel)] = "customerinfo.firstname"  required >
                               
                                <input class="form-control lastNameInput" type="text" placeholder="Last Name" [(ngModel)] = "customerinfo.lastname"   required>

                        
                                <select class="genderOptions" name="gender" id="gender" [(ngModel)] = "customerinfo.gender">
                                        <option class="genderOptions" value="male">Male</option>
                                        <option value="female">Female</option>
                                </select>

                                <input class="ageInput" placeholder="Age" type="number" [(ngModel)] = "exterior.roofage" inputmode="numeric" pattern="[0-9]*" digitOnly maxlength="3" >
                                
                                <input class="dobInput" matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)] = "customerinfo.dateofbirth" (dateChange)="calculateDate()">
                                <mat-datepicker #picker></mat-datepicker>
                                <button mat-raised-button style="border: none; background: none;" (click)="picker.open()"><img style="height: 20px; width: 20px;" src="/assets/calender_icn.png" ></button>
                        
                        </div>
                        <div class="row3">
                                <label class="firstNameLabel">Marital Status</label>
                                <label class="occupationLabel">Occupation</label>
                                <label class="emailLabel">Email Address</label>
                                <label class="emailLabel">Telephone number</label>

                        </div>

                        <div class="row3">
                              <!-- <input class="maritalInput" placeholder="Marital Status" [(ngModel)] = "customerinfo.maritalstatus"> -->
                              <select class="ocuupation new" name="maritalStatus" id="maritalStatus" [(ngModel)] = "customerinfo.maritalstatus">
                                <option class="ocuupationOptions" value="married">Married</option>
                                <option value="single">Singel</option>
                                <option value="divorced">Divorced</option>
                                <option value="living with partner">Living with domestic partner</option>

                        </select>
                                <select class="ocuupation new1" name="ocuupation" id="ocuupation" [(ngModel)] = "customerinfo.ocuupation">
                                        <option class="ocuupationOptions" value="business">Business</option>
                                        <option value="job">Job</option>
                                        <option value="other">Other</option>
                                </select>

                                <input class="lastNameInput new2" type="email" placeholder="Email Address" [(ngModel)] = "customerinfo.email"> 
                                <input class="lastNameInput addedshape5"  placeholder="Telephone number" [(ngModel)] = "customerinfo.phone" inputmode="numeric" pattern="[0-9]*" digitOnly maxlength="14" > 

                        </div>

                        <div class="row4">
                                <hr style="width: 95%; margin-left: 10px; background-color: #e6e6e6;margin-top: 15px;">
                        </div>

                        <div class="row5">
                                <label class="questionLabel">What is the address of home you want to insure?</label>
                        </div>

                        <div class="row6">
                                <label class="firstNameLabel">Street Address</label>
                                <label class="unitLabel unit1">Unit Number</label>
                                <label class="unitLabel unit2">Country</label>
                                <label class="cityLabel unit5">City</label>
                                <label class="unitLabel unit1">State</label>
                                <label class="unitLabel unit1">Zip Code</label>
                        </div>

                        <div class="row7">
                                <input class="streetInput" type="text" placeholder="Street Address" [(ngModel)] = "customerinfo.street">
                                <input class="unitInput unit3" type="text" placeholder="Unit Input" [(ngModel)] = "customerinfo.unit">
                                <!-- ngmodel is pending for country field -->
                                <input class="unitInput unit4" type="text" placeholder="Country">

                        
                                <input class="cityInput" type="text" placeholder="city"  [(ngModel)] = "customerinfo.city">

                                <input class="unitInput unit6" type="text" placeholder="State"  [(ngModel)] = "customerinfo.state">
                                <input class="unitInput unit7" type="text" placeholder="Zip Code"  [(ngModel)] = "customerinfo.zip">
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Desired coverage start date </label>
                                <label class="questionLabels labelMargin"> Do you currently have property insurance?</label><br/>
                                <label class="mandatory">(*Cannot be backdated by more than 30 days)</label>
                        </div>

                        <div class="row9">
                                <input class="dateInput" matInput [matDatepicker]="picker1" placeholder="Choose a date"  [(ngModel)] = "customerinfo.effectiveDate" [min]="min" [max]="max">
                                <mat-datepicker #picker1></mat-datepicker>
                                <button mat-raised-button style="background: none; border: none;" (click)="picker1.open()"><img style="height: 20px; width: 20px;" src="/assets/calender_icn.png" ></button>
                
                                <select class="ocuupation propertyIssue" name="propertyissue" id="propertyissue" [(ngModel)] = "customerinfo.currentlyproissues">
                                        <option class="propertyissueOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>

                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Do you or a family member</label> 
                                <label class="questionLabels labelMargin"> Have you or any of your family members </label><br/>
                                <label class="questionLabels">run business from home?</label>
                                <label class="questionLabels labelMargin labelCriminal">ever had criminal conviction?</label>
                        </div>

                        <div class="row9">
                                
                                <select class="ocuupation new" name="businessfromhome" id="businessfromhome" [(ngModel)] = "customerinfo.businessfromhome">
                                        <option class="businessfromhomeOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>

                                <select class="ocuupation selectIssue" name="criminalconvictions" id="criminalconvictions" [(ngModel)] = "customerinfo.criminalconvictions">
                                        <option class="criminalconvictionsOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Does anyone in your home smoke?</label> 
                                <label class="questionLabels labelMargin labelHome"> Do you have any pets at home? </label><br/>
                        </div>

                        <div class="row9">
                                <select class="ocuupation new" name="smokerstatus" id="smokerstatus" [(ngModel)] = "customerinfo.smokerstatus">
                                        <option class="smokerstatusOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>

                                <select class="ocuupation selectIssue" name="petsathome" id="petsathome" [(ngModel)] = "customerinfo.petsathome"> 
                                        <option class="petsathomeOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> How many smokers?</label> 
                                <label class="questionLabels labelPet"> What kind of pet? </label>
                                <label class="questionLabels labelBreed"> How many & breeds? </label>
                        </div>

                        <div class="row9">
                                <input class="streetInput smokerInput" placeholder="Smokers">
                                <!-- <input class="streetInput petInput" placeholder="Pet"> -->
                                <select class="ocuupation selectIssue new3" name="kindofpet" id="kindofpet"> 
                                        <option class="kindofpetOptions" value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                        <option value="other">Other</option>
                                </select>
                                <input class="streetInput breedInput" placeholder="e.g 2, Labrador">
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Have you ever had a policy cancelled by a home insurer?</label> 
                        </div>

                        <div class="row9">
                                <select class="ocuupation new" name="cancelpolicy" id="cancelpolicy" [(ngModel)] = "customerinfo.cancelpolicy">
                                        <option class="cancelpolicyOptions" value="yes">Yes</option>
                                        <option value="no">No</option>
                                </select>
                        </div>

                        <div class="row8">
                                <label class="questionLabels"> Name of Insurer</label> 
                                <label class="questionLabels labelMargin labelHome new4"> Cancellation year </label>
                                <label class="questionLabels labelReason"> Cancellation reason </label>
                        </div>

                        <div class="row9">
                                <input class="streetInput smokerInput" placeholder="Insurer" [(ngModel)] = "customerinfo.nameofinsurer">
                                <input class="unitInput year2" placeholder="Year" [(ngModel)] = "customerinfo.cancelationyear">
                                <input class="streetInput reasonInput" placeholder="Reason" [(ngModel)] = "customerinfo.cancelationreason">

                        </div>
                        <br>
                        <br>
                        <div>
                                <button class="requestbutton" style="margin-left: 500px;" (click)="navigateToPropertyInfo()">NEXT</button>

                        </div>
                </div>
                
                </div>


        </mat-tab>


         <mat-tab label="Property Info">
                
        <div class="secondTab">
                <div class="row5">
                        <label class="questionLabel">What year was the </label>
                        <label class="questionLabel labelDate">Purchase date of </label>
                        <label class="questionLabel labelPeople">Number of people</label>
                        <label class="questionLabel story">Number of storeys</label><br/>
                        <label class="questionLabel">home built?</label>
                        <label class="questionLabel labelnew1">the home</label>
                        <label class="questionLabel labelHouse">living in the household</label>
                </div>

                <div class="row7">
                        <input class="yearInput1" type="text" placeholder="Year" [(ngModel)] = "basicinfo.yearbuilt">
                        <input class="dateInput date1" matInput [matDatepicker]="picker2" placeholder="Choose a date"  [(ngModel)] = "basicinfo.purchasedate">
                        <mat-datepicker #picker2></mat-datepicker>
                        <button mat-raised-button style="background: none; border: none;" (click)="picker2.open()"><img style="height: 20px; width: 20px;" src="/assets/calender_icn.png" ></button>
                        <input  class="unitInput " placeholder="People" >
                        <!-- <input class="unitInput labelStories" placeholder="Stories" > -->
                        <select class="unitInput labelStories" name="stories" id="stories" [(ngModel)] = "basicinfo.noofstories">
                                <option class="storiesOptions" value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>

                        </select>

                </div>

                <div class="row5">
                        <label class="questionLabel">Type of foundation</label>
                        <!-- <label class="questionLabel labelDate">Building material</label> -->
                        <label class="questionLabel labelDate">Exterior wall type</label>
                        <label class="questionLabel labelRoof3">Roof style</label>
                </div>

                <div class="row7">
                        <!-- <input class="streetInput" placeholder="Date" [(ngModel)] = "basicinfo.purchasedate">
                        <input class="streetInput labelCriminal" placeholder="Living area" [(ngModel)] = "customerinfo.area"> -->
                        <select class="ocuupation new" name="foundation" id="foundation" [(ngModel)] = "interior.foundationtype">
                                <option class="foundationOptions" value="basement">Basement</option>
                                <option  value="slab at grade">Slab at Grade</option>
                                <option  value="crawl space">Crawl Space</option>
                                <option  value="piers">Piers</option>
                                <option  value="with basement">Hillside with Basement</option>
                                <option  value="without basement">Hillside without Basement</option>
                        </select>
                        <!-- <select class="ocuupation labelBuilding" name="building" id="building" [(ngModel)] = "exterior.buildingmaterial">
                                <option class="buildingOptions" value="solid brick">Solid brick</option>
                        </select> -->
                        <select class="ocuupation labelBuilding1" name="walltype" id="walltype" [(ngModel)] = "exterior.buildingmaterial" >
                                <option class="walltypeOptions" value="brick stone">Brick Frame</option>
                                <option  value="brick stone">Stucco Block</option>
                                <option class="walltypeOptions" value="brick stone">Stucco Frame</option>
                                <option class="walltypeOptions" value="brick stone">Wood Sliding</option>

                        </select>
                        <select class="ocuupation roof" name="roofstyle" id="roofstyle" [(ngModel)] = "exterior.roofshape">
                                <option class="roofstyleOptions" value="hip">Hip</option>
                                <option value="gable">Gable</option>
                                <option  value="flat">Flat</option>
                                <option  value="other">Other</option>

                        </select>

                </div>

                <div class="row5">
                        <label class="questionLabel">Approximate living area</label>
                        <label class="questionLabel labelGarrage">Type of garage</label>
                        <label class="questionLabel labelPeople2">Primary residance</label>
                        <label class="questionLabel roof">What is the roof made of?</label>
                </div>

                <div class="row9">
                        <!-- <select class="ocuupation" name="exterior" id="exterior" [(ngModel)] = "exterior.buildingmaterial">
                                <option class="exteriorOptions" value="brick stone">Brick stone</option>
                        </select> -->
                        <input class="firstNameInput" placeholder="Living area" [(ngModel)] = "customerinfo.area">

                        <select class="ocuupation labelGarrage" name="roof" id="roof" [(ngModel)] = "exterior.typeofgarage">
                                <option class="roofOptions" value="one car">One car attached</option>
                                <option class="roofOptions" value="two car">Two car attached</option>
                                <option class="roofOptions" value="three car">Three car attached</option>

                        </select>

                        <select class="ocuupation residanceLabel" name="primaryresidance" id="primaryresidance" [(ngModel)] = "basicinfo.primaryresidence">
                                <option class="primaryresidanceOptions" value="yes">Yes</option>
                                <option class="primaryresidanceOptions" value="no">No</option>

                        </select>
                        <!-- <input class="firstNameInput labelPeople" placeholder="Roof made of" [(ngModel)] = "customerinfo.firstname"> -->
                        <select class="ocuupation residanceLabel" name="roofstyle" id="roofstyle" [(ngModel)] = "exterior.roofmaterial">
                                <option class="roofstyleOptions" value="asphalt">Asphalt</option>
                                <option class="roofstyleOptions" value="wood">Wood</option>
                                <option class="roofstyleOptions" value="tile">Tile</option>
                                <option class="roofstyleOptions" value="metal">Metal</option>
                                <option class="roofstyleOptions" value="slate">Slate</option>
                                <option class="roofstyleOptions" value="other">Other</option>

                        </select>
                </div>

                <div class="row5">
                        <!-- <label class="questionLabel">Have you had any property insurance claims </label>
                        <label class="questionLabel labelSwimming">Is there a swimming pool on the premises?</label><br/>
                        <label>or losses in the past 7 years?</label> -->
                        <label class="questionLabel">What material is the kitchen</label>
                        <label class="questionLabel sLabel">Is there a swimming pool </label>
                        <label class="questionLabel homeLabel">Is your home within 1,000</label>
                        <label class="questionLabel hadLabel">Have you had any property insurance</label><br/>
                        <label class="questionLabel">counterops made of?</label>
                        <label class="questionLabel premises">on the premises?</label>
                        <label class="questionLabel story">feet of fire hydrant</label>
                        <label class="questionLabel sLabel1">claims or losses in past 7 years?</label>
                </div>

                <div class="row7">
                        <input class="streetInput" placeholder="Counterops" [(ngModel)] = "interior.kitchencountertops">
                        <!-- <select class="ocuupation new" name="kitchen" id="kitchen" [(ngModel)] = "interior.kitchencountertops">
                                <option class="kitchenOptions" value="yes">Wood</option>
                                <option value="no">No</option>
                        </select> -->
                        <select class="ocuupation labelBuilding" style="margin-left: 170px;" name="swimming" id="swimming" [(ngModel)] = "exterior.swimmingpool">
                                <option class="swimmingOptions" value="yes">Yes</option>
                                <option value="no">No</option>
                        </select>
                        <!-- <input class="streetInput labelCriminal" placeholder="yes/no" [(ngModel)] = "exterior.swimmingpool"> -->
                        <select class="ocuupation sLabel1" name="within" id="within" [(ngModel)] = "basicinfo.firehydrant">
                                <option class="withinOptions" value="yes">Yes</option>
                                <option value="no">No</option>
                        </select>
                        <select class="ocuupation roof" name="anyproperty" id="anyproperty" [(ngModel)] = "customerinfo.pastpropertyclaimsorlosses">
                                <option class="anypropertyOptions" value="yes">Yes</option>
                                <option value="no">No</option>
                        </select>
                        
                </div>

                <div class="row5">
                         <label class="questionLabel">Select a protective device installed in your home</label>
                        <!--<label class="questionLabel labelkitchen">What material is the kitchen countertops made of?</label><br/> -->
                </div>

                <div class="row7">
                        <div style="margin-left: 50px;">
                                <mat-checkbox>A burglar alarm that sounds in your home​</mat-checkbox>
                                <mat-checkbox class="addedshape ">A for alarm that reports to a fire station</mat-checkbox>
                                <mat-checkbox class="addedshape">Multiple fire sprinklers throughout the home</mat-checkbox><br/>
                                <mat-checkbox >An emergency backup generator</mat-checkbox>
                                <mat-checkbox class="addedshape1">A home automation system</mat-checkbox>
                                <mat-checkbox class="addedshape2">None of the above​</mat-checkbox>
                         </div>

                        <!-- <input class="streetInput" placeholder="yes/no" [(ngModel)] = "basicinfo.primaryresidence"> -->
                        <!-- <select class="ocuupation" name="cancelpolicy" id="cancelpolicy" [(ngModel)] = "basicinfo.primaryresidence">
                                <option class="cancelpolicyOptions" value="yes">Yes</option>
                                <option value="no">No</option>
                        </select>
                        <select class="ocuupation selectIssuetwo" name="kitchen" id="kitchen" [(ngModel)] = "interior.kitchencountertops">
                                <option class="kitchenOptions optionsInput" value="wood">Wood</option>
                        </select> -->
                </div>

                <div class="row5">
                        <!-- <label class="questionLabel">Is your home within 1,000 feet of a fire hydrant?</label>
                        <label class="questionLabel labelFoundation">Type of Foundation</label><br/> -->
                </div>

                <div class="row7">
                        <!-- <input class="streetInput" placeholder="yes/no" [(ngModel)] = "interior.fireplace"> -->
                        <!-- <select class="streetInput" name="cancelpolicy" id="cancelpolicy" [(ngModel)] = "interior.fireplace">
                                <option class="cancelpolicyOptions" value="yes">Yes</option>
                                <option value="no">No</option>
                        </select>
                        <select class="ocuupation selectIssuetwo" name="foundation" id="foundation" [(ngModel)] = "interior.foundationtype">
                                <option class="foundationOptions labelFoundation1" value="closed basement">Closed basement</option>
                        </select> -->
                </div>


                <div class="row5">
                        <!-- <label class="questionLabel">Building Material</label>
                        <label class="questionLabel  labelFoundationthree">Type of garage</label> -->
                </div>

                <div class="row9">
                        <!-- <select class="ocuupation" name="building" id="building" [(ngModel)] = "exterior.buildingmaterial">
                                <option class="buildingOptions" value="solid brick">Solid Brick</option>
                        </select>

                        <select class="ocuupation selectIssuethree" name="garage" id="garage" [(ngModel)] = "exterior.typeofgarage">
                                <option class="garageOptions" value="car attached">Car attached</option>
                        </select> -->
                </div>

                <div class="row5">
                        <!-- <label class="questionLabel">No. of Stories</label>
                        <label class="questionLabel labelRoofselect">Select the protective devices installed in your home?</label> -->
                </div>

                <div class="checkbox">
                
                        <!-- <div style="margin-left: 20px;">
                                <mat-checkbox class="labelRoof">A burglar alarm that sounds in your home​</mat-checkbox>
                                <mat-checkbox class="labelRoof ">A for alarm that reports to a fire station</mat-checkbox>
                                <mat-checkbox class="labelRoof">Multiple fire sprinklers throughout the home</mat-checkbox>
                                <mat-checkbox class="labelRoof">An emergency backup generator</mat-checkbox>
                                <mat-checkbox class="labelRoof">A home automation system</mat-checkbox>
                                <br>
                                <mat-checkbox class="labelRoof">None of the above​</mat-checkbox>
                         </div> -->
                </div>


        </div>
<br>
<br>
        <div class="detailsrow1">
                <div style="background-color: #ededed; margin-left: 50px; border-radius: 6px; border-color: #000;">
                <div style="margin-left: 10px;">All coverages and discounts are subject to terms, conditions, availability, and qualifications.</div>
                <div style="margin-left: 10px;">This is a brief description of coverages; this is not a contract.Please contact a local agent or call 151-200-300 for more information.  </div>
                <div style="margin-left: 30px;"></div>
        </div>
        <button class="requestbutton" (click) = "navigateToCustomerInfo()">BACK</button>

                <button class="requestbutton" style="margin-left: 50px;" (click) = "navigateToUnderwriter()">GENERATE QUOTE</button>

        </div>
        </mat-tab> 


        <!-- <mat-tab label="Summary of Coverages">

                <div class="basicinfo">
                        <label class="detail_one">Coverages</label>
                      </div>
                      <div class="detailsrow1">
                      <label class="emercency">Dwelling Protection:</label>
                      <label class="emercency">Protect Personal Property Against: </label>
                      <label class="emercency">Additional Living expenses:</label>
                      </div>
                      
                      <div class="detailsrow1">
                      <label class="whole_two">{{workQuote.coverages.dwellingprotection}}</label>
                      <select class="whole_selct" id="#">
                        <option selected="selected" value="one">{{workQuote.coverages.propertyprotection}}</option>
                        </select>
                      <label class="addtional_one_value">{{workQuote.coverages.additionallivingexpenses}}</label>
                      </div>
                      <div class="detailsrow1" style="margin-top: 5px;">
                      <label class="emercency">Other Structures:</label>
                      <label class="emercency">Personal Property Protection:</label>
                      <label class="emercency">Family Liability Protection:</label>
                      </div>
                      
                      <div class="detailsrow1">
                      <label class="whole_one_value">{{workQuote.coverages.otherstructures}}</label>
                      <label class="whole_two">{{workQuote.coverages.propertyprotection}}</label>
                      <label class="whole_two two">{{workQuote.coverages.familyliabilityprotection}}</label>
                      </div>
                      
                      <div class="basicinfo">
                        <label class="detail_one">Discounts & Surcharges</label>
                      </div>
                      <div class="detailsrow1">
                      <label class="emercency">New Construction Discount:</label>
                      </div>
                      
                      <div class="detailsrow1">
                      <label class="whole_two">{{workQuote.discountsandsurcharges.newconstructiondiscount}}</label>
                      </div>
                      <div class="basicinfo">
                        <label class="detail_one">Deductibles</label>
                      </div>
                      <div class="detailsrow1">
                      <label class="emercency">All Perils deductible:</label>
                      <label class="emercency">Windstorm/Hail Deductible: </label>
                      </div>
                      
                      <div class="detailsrow1">
                      <label class="whole_one_value">{{workQuote.deductibles.allperilsdeductible}}</label>
                      <label class="whole_one_value">{{workQuote.deductibles.windstormorhail}}</label>
                      
                        </div>
                       
                        <div class="detailsrow1" style="margin-top: 20px;">
                        <label class="emercency">FINAL PREMIUM:</label>
                        </div>
                        
                        <div class="detailsrow1">
                        <label class="whole_two">{{workQuote.finalpremium}}</label>
                        </div>
                        <br>
                        <br>
                      

        </mat-tab> -->
    </mat-tab-group>
</div>
<div class="footer"> 
       <div style="text-align: center; margin-top: 7px;">Copyright @ 2020 Atos-Syntel. All rights reserved</div> 
</div>

</div>