<button class="pop" mat-button mat-dialog-close><img src="../assets/poup_drag_icn.png"></button>

<h1 mat-dialog-title></h1>
<div mat-dialog-content>
        <div class="head">While performing onsite inspection, it is recommended  <br/>
            that the surveyor emphasises on the below points:
        </div>
            
            <div>
                <ul>
                    <li>Based on our records, the location has 40% higher  <br/>
                        probability of water damage. It would be strongly <br/>
                        recommended that the pipelines are thoroughly <br/>
                        checked.
                    </li>

                    <li>Based on past records building made of wood and roof<br/>
                        made of asphalt have 20% higher  chance of a claim  <br/>
                        compared to other construction and roof types. Hence it <br/>
                        would be recommended that the inspector pay extra<br/>
                        attention to the quality/stability of the structure.Past<br/>
                        records Indicate 10% higher probability of foundation <br/>
                        damage due to tree roots overgrowth.
                    </li>

                    <li>Past records Indicate 10% higher probability of <br/>
                        foundation damage due to tree roots overgrowth.
                    </li>
                </ul>
            </div> 


            <div>
                It is recommended that the inspector pays extra attention  <br/>
                to any tree roots that might grow near the building  <br/>
                foundation.
            </div>
</div>