<!-- <button class="pop" mat-button mat-dialog-close><img src="../assets/poup_drag_icn.png"></button> -->
<div class="row">
    <img src="../assets/poup_drag_icn.png" style="margin: 5px;">
    <label style="margin-left: 120px; font-family: Verdana;font-size: 13px;font-weight: bold; text-align: center;">AI Insights</label>

      <img mat-button mat-dialog-close class="crossimg" src="../assets//pluse_icn" src="../assets/close_icn.png " > 
</div>
<h1 mat-dialog-title></h1>
<div class="head">Based on the details of the property provided and our   <br/>
                  existing records, the below observations have been made. <br/>
                  Hence it is highly recommended that the surveyor pays special <br/>
                  attention to the details provided:
</div>
    
    <div>
        <ul>
            <li>The property has a 5 year old Gable roof.<br/>
                Based on our records, the area where the <br/>
                property is located is frequented by heavy <br/>
                windstorm. Without adequate support, the <br/>
                roof might collapse  Hence it is advisable <br/>
                that the Surveyor makes a special note of the<br/>
                roof support.
            </li>

            <li>Given the proximity of the property to forest<br/>
                area, there is a 20% probability that tree <br/>
                root overgrowth might damage the foundation <br/>
                of the building. Hence it would be recommended <br/>
                that the surveyor takes special attention while <br/>
                conducting the survey.
            </li>
        </ul>
    </div> 
       
