<div class="main">
    <div class="details">
  
  
      <div class="detailsrow1">
        <label class="detail_one">Name:</label>
        <label class="detail_two marginQuote">Quote No:</label>
        <label class="detail_two margin">Home Built in:</label>
      </div>
  
      <div class="detailsrow1">
        <input class="whole_split_three_one" [(ngModel)] = "workQuote.customerinfo.name">
        <label class="detail_two_value">{{quoteNo}}</label>
        <input class="whole_split_date_two" style="margin-left: 15px;" [(ngModel)] = "workQuote.customerinfo.homebuiltin">
      </div>
  
      <div class="detailsrow1" >
        <label class="detail_one">DOB:</label>
        <label class="detail_two">Desired coverage start date :</label>
        <label class="detail_two">Area:</label>
      </div>
  
      <div class="detailsrow1">
        <input class="whole_split_date_one" [(ngModel)] = "workQuote.customerinfo.dateofbirth">
        <input class="whole_split_date_two" [(ngModel)] = "workQuote.customerinfo.effectiveDate">
        <input class="whole_split_date_two margin" [(ngModel)] = "workQuote.customerinfo.area">
      </div>
  
      <div class="address_phone" >
        <div class="detailsrow1">
          <label class="detail_one">Address:</label>
          <label class="detail_two">Phone:</label>
          <label class="detail_two">Email:</label>
        </div>
  
        <div >
          <input class="whole_edit_address" style="margin-top: 2px;" [(ngModel)] = "workQuote.customerinfo.address">
          <input class="whole_edit_addresstwo" style="margin-top: 2px;" [(ngModel)] = "workQuote.customerinfo.phone">
          <input class="whole_split_email"[(ngModel)] = "workQuote.customerinfo.email">
        </div>
      </div>
    </div>
    <br>
      <div class="basicinfo">
        <label class="detail_one basicinfo1">Basic Info</label>
    </div>
    <div class="detailsrow1">
      <label class="whole_one">Year Built:</label>
      <label class="whole_one">Purchase Date:</label>
      <label class="whole_one">Burger Alarm:</label>
      <label class="whole_one">No of stories:</label>
    </div>
  
    <div style="margin-top: 3px;">
      <input class="whole_split_four_one" [(ngModel)] = "workQuote.basicinfo.yearbuilt">
      <input class="whole_split_four_two"   [(ngModel)] = "workQuote.basicinfo.purchasedate">
      <input class="whole_split_four_three" [(ngModel)] = "workQuote.basicinfo.burglarsalarm">
      <input class="whole_split_four_four" [(ngModel)] = "workQuote.basicinfo.noofstories">
    </div>
    <div class="detailsrow1" style="margin-top: 5px;">
      <label class="whole_one">Square Footage:</label>
      <label class="whole_one">No of stories:</label>
      <label class="whole_one">Fire Spring Killers:</label>
      <label class="whole_one">Single family:</label>
    </div>
  
    <div style="margin-top: 3px;">
      <input class="whole_split_four_one" [(ngModel)] = "workQuote.basicinfo.squarefootage">
      <input class="whole_split_four_two" [(ngModel)] = "workQuote.basicinfo.noofstories">
      <input class="whole_split_four_three" [(ngModel)] = "workQuote.basicinfo.firesprinklers">
      <input class="whole_split_four_four" [(ngModel)] = "workQuote.basicinfo.singlefamily">
    </div>
    <div class="detailsrow1" style="margin-top: 10px;">
      <label class="whole_one">Fire Alarm:</label>
      <label class="backup">Emergency Backup generator:</label>
      <label class="emercency" style="size: 16px;">Home within 1,000 feet of a fire hydrant?</label>
    </div>
  
    <div style="margin-top: 4px;">
      <input class="whole_split_four_one" [(ngModel)] = "workQuote.basicinfo.firealarm">
      <input class="whole_split_four_two" [(ngModel)] = "workQuote.basicinfo.emergencybackupgenerator">
      <input class="whole_split_four_five" style="margin-left: 30px;" [(ngModel)] = "workQuote.basicinfo.firehydrant">
    </div>
    <hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;">

    <div class="basicinfo">
      <label class="detail_one basicinfo1">Exterior</label>
  </div>
  <div class="detailsrow1">
    <label class="whole_one">Exterior wall type:</label>
    <label class="whole_one">Type of garage:</label>
    <label class="whole_one">Roof style:</label>
    <label class="whole_one">swimming pool:</label>
  </div>
  
  <div style="margin-top: 4px;">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.exterior.buildingmaterial">
    <input class="whole_split_four_two" [(ngModel)] = "workQuote.exterior.typeofgarage">
    <input class="whole_split_four_three" [(ngModel)] = "workQuote.exterior.roofshape">
    <input class="whole_split_four_four" [(ngModel)] = "workQuote.exterior.swimmingpool">
  </div>
  <div class="detailsrow1" style="margin-top: 5px;">
    <label class="whole_one">Roof made of::</label>
    <label class="whole_one">Porch:</label>
    <label class="whole_one">Roof Age:</label>
    <label class="whole_one">Deck:</label>
  </div>
  
  <div style="margin-top: 4px;">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.exterior.roofmaterial">
    <input class="whole_split_four_two" [(ngModel)] = "workQuote.exterior.porch">
    <input class="whole_split_four_three" [(ngModel)] = "workQuote.exterior.roofage">
    <input class="whole_split_four_four" [(ngModel)] = "workQuote.exterior.deck">
  </div>
  <hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;">

  <div class="basicinfo">
    <label class="detail_one basicinfo1">Interior </label>
  </div>
  <div class="detailsrow1">
  <label class="whole_one">Foundation Type:</label>
  <label class="whole_one"> Bath Quality:</label>
  <label class="whole_one">Fire Place:</label>
  </div>
  
  <div style="margin-top: 4px;">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.interior.foundationtype">
    <input class="whole_split_four_two" style="margin-left: 10px;" [(ngModel)] = "workQuote.interior.bathquality">
    <input class="whole_split_four_three" [(ngModel)] = "workQuote.interior.fireplace">
  </div>
  <div class="detailsrow1" style="margin-top: 5px;">
  <label class="whole_one"> Kitchen Quality:</label>
  <label class="whole_one"> Kitchen countertops:</label>
  </div>
  
  <div style="margin-top: 4px;">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.interior.kitchenquality">
    <input class="whole_split_four_two" style="margin-left: 10px;" [(ngModel)] = "workQuote.interior.kitchencountertops">
  </div>

  <hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;">

  <div class="basicinfo">
    <label class="detail_one basicinfo1">Customer Info </label>
  </div>
  <div class="detailsrow1">
  <label class="whole_one">Age:</label>
  <label class="whole_one">Smoker status:</label>
  <label class="emercency">Past property claims or losses:</label>
  </div>
  
  <div style="margin-top: 4px;">
  <input class="whole_split_four_one" [(ngModel)] = "workQuote.exterior.roofage">
  <input class="whole_split_four_one" [(ngModel)] = "workQuote.customerinfo.smokerstatus">
  <input class="whole_split_four_one" [(ngModel)] = "workQuote.customerinfo.pastpropertyclaimsorlosses">
  </div>
  <div class="detailsrow1" style="margin-top: 5px;">
  <label class="whole_one">Marital Status:</label>
  <label class="whole_one">Criminal Convictions:</label>
  <label class="emercency">Running business from home:</label>
  </div>
  
  <div style="margin-top: 4px;">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.customerinfo.maritalstatus">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.customerinfo.criminalconvictions">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.customerinfo.runningbusinessfromhome">
  </div>
  <hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;">

  
  <!-- deleted -->
  <div class="basicinfo">
    <label class="detail_one basicinfo1">Summary Coverages</label>
  </div>
  <div class="detailsrow1">
  <label class="emercency">Dwelling Protection:</label>
  <label class="emercency">Protect Personal Property Against: </label>
  <label class="emercency">Additional Living expenses:</label>
  </div>
  
  <div style="margin-top: 4px;">
  <input class="whole_split_four_one" [(ngModel)] = "workQuote.coverages.dwellingprotection">
  <input class="whole_split_four_one" style="margin-left: 68px;" [(ngModel)] = "workQuote.coverages.propertyagainst">
  
  <input class="whole_split_four_one" style="margin-left: 68px;" [(ngModel)] = "workQuote.coverages.additionallivingexpenses">
  </div>
  <div class="detailsrow1" style="margin-top: 5px;">
  <label class="emercency">Other Structures:</label>
  <label class="emercency">Personal Property Protection:</label>
  <label class="emercency">Family Liability Protection:</label>
  </div>
  
  <div style="margin-top: 4px;">
  <input class="whole_split_four_one"  [(ngModel)] = "workQuote.coverages.otherstructures">
  <input class="whole_split_four_one" style="margin-left: 68px;" [(ngModel)] = "workQuote.coverages.propertyprotection">
  <input class="whole_split_four_one" style="margin-left: 68px;" [(ngModel)] = "workQuote.coverages.familyliabilityprotection">
  </div>
  
  <div class="basicinfo">
    <label class="detail_one basicinfo1">Discounts & Surcharges</label>
  </div>
  <div class="detailsrow1">
  <label class="emercency">New Construction Discount:</label>
  </div>
  
  <div style="margin-top: 4px;">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.discountsandsurcharges.newconstructiondiscount">
  </div>
  <div class="basicinfo">
    <label class="detail_one basicinfo1">Deductibles</label>
  </div>
  <div >
  <label class="emercency">All Perils deductible:</label>
  <label class="windstorm">Windstorm/Hail Deductible: </label>

  </div>
  
  <div style="margin-top: 4px;">
    <input class="whole_split_four_one" [(ngModel)] = "workQuote.deductibles.allperilsdeductible">
    <input class="whole_split_four_one" style="margin-left: 75px;" [(ngModel)] = "workQuote.deductibles.windstormorhail">
  
    </div>
    <br>
    <br>
    <div class="detailsrow1" >
    <label class="emercency">FINAL PREMIUM:</label>
    </div>
    
    <div style="margin-top: 4px;">
      <input class="whole_split_four_one" [(ngModel)] = "workQuote.finalpremium">
    </div>
    <br>
  
  
    <div *ngIf="show; else notShow">
      <div class="form-group">
        <div>
            <button id="button1id" name="button1id" class="button_colour" (click)="emailRequest()">Email for additional documents</button>
            <button id="button2id" name="button2id" class="button_colour" (click)="propertyRequest()" >Request Property Inspection</button>
            <button id="button3id" name="button3id" class="button_colour" (click)="finalRequest()">Prepare Final Offer</button>
    
          </div>
    </div>
    </div>
    
    <ng-template #notShow>
      <div class="form-group">
        <div>
            <button id="button1id" name="button1id" class="button_colour" (click)="navigateDaashboard()">Request to  Bind</button>
            <button id="button2id" name="button2id" class="button_colour" (click)="rejectRequest()">Reject Quote</button>
            <button id="button3id" name="button3id" class="button_colour" (click)="bindRequest()">Contact Prospect</button>
    
          </div>
    </div>
    </ng-template>
  
    
  
    <br>
    <br>
  
  
  </div>