.main{
    width: 830px;
    height: 100%;
    margin: 8px;
    background: #ffffff;
}
.details{
    height: 131px;
    background: #f2f2f2;
}
.detailsrow1{
    display: flex;
}
.detailsrow2{
    display: flex;
}
.detail_one{
    width:  330px;
    font-family: verdana;
    font-weight: 600;
    font-size: 13px;
    margin-left: 8px;
}

.detail_two{
    min-width: 254px;
    font-family: verdana;
    font-weight: 600;
    margin-left: 8px;
    font-size: 13px;
}
.detail_one_value{
    min-width:330px;
    font-family: verdana;
    font-size: 16px;
    margin-left: 8px;
}

.detail_two_value{
    min-width:240px;
    font-family: verdana;
    font-size: 16px;
}
.address_phone{
    height: 54px;
    background: #e8e8e8;
    padding-top: 8px;
}
.basicinfo{
    min-width: 251px;
    font-family: verdana;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 14px;
}
.whole_one{
    width:  207px;
    font-family: verdana;
    font-weight: 600;
    font-size: 13px;
    margin-left: 8px;
}

.whole_two{
    min-width: 207px;
    font-family: verdana;
    margin-left: 8px;
    font-size: 13px;
}
.emercency{
    width:  330px;
    font-family: verdana;
    font-weight: 600;
    font-size: 13px;
    margin-left: 8px;
}
.backup{
    width:  230px;
    font-family: verdana;
    font-weight: 600;
    font-size: 13px;
}
.whole_one_value{
    min-width:336px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 8px;
}
.whole_edit_one{
    width: 200px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 71px;
}
.whole_edit_three{
    width: 200px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 77px;
}
.whole_edit_two{
    width: 200px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 8px;
}
.whole_selct{
    width: 207px;
    font-family: verdana;
    margin-right: 50px;
    font-size: 13px;
    margin-left: 80px;
}
.addtional_one_value{
    min-width:336px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 55px;
}
.form-group {
    display: flex;
    float:inherit;
    background: #ffffff;
}
.button_colour {
    height: 60px;
    width: 245px;
    font-family: Verdana;
    font-weight: bold;
    color: #fcdccf;
    background-color: #fa6119;
    border-radius: 5px;
    margin-top: 19px;
    margin-left: 12px;
    text-align: center;
    font-size: 13px;

}
