<div class="main">
    <div class="details">
  
  
      <div class="detailsrow1" style="margin-left: 1.08%;">
        <label class="whole_three_new">Name:</label>
        <label class="whole_three_new" >Quote No:</label>
        <label class="whole_three_new" >Home Built in:</label>
      </div>
  
      <div class="detailsrow1" style="margin-left: 1.08%;">
        <input class="whole_split_four_three_new" [(ngModel)] = "workQuote.name">
        <label class="whole_split_four_three_new">{{quoteNo}}</label>
        <input class="whole_split_four_three_new" [(ngModel)] = "workQuote.yearbuilt">
      </div>
  
      <div class="detailsrow1" style="margin-top: 5px;margin-left: 1.08%">
        <label class="whole_three_new">Date of Birth:</label>
        <label class="whole_three_new" >Desired coverage start date :</label>
        <label class="whole_three_new">Area:</label>
      </div>
  
      <div class="detailsrow1" style="margin-top: -1px;margin-left: 1.08%">
        <input class="whole_split_four_three_new" [(ngModel)] = "workQuote.dateofbirth">
        <!-- <input style="margin-left: 10px;" class="dobInput" matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)] = "workQuote.dateofbirth">
        <mat-datepicker #picker></mat-datepicker>
        <button mat-raised-button style="border: none; background: none;" (click)="picker.open()"><img style="height: 20px; width: 20px;" src="/assets/calender_icn.png" ></button> -->
        <input class="whole_split_four_three_new"  [(ngModel)] = "workQuote.effectivedate">

        <!-- <input style="margin-left: 80px;" matInput [matDatepicker]="picker1" placeholder="Choose a date"  [(ngModel)] = "workQuote.effectivedate">
        <mat-datepicker #picker1></mat-datepicker>
        <button mat-raised-button style="background: none; border: none;" (click)="picker1.open()"><img style="height: 20px; width: 20px;" src="/assets/calender_icn.png" ></button> -->
        
        <input class="whole_split_four_three_new" [(ngModel)] = "workQuote.area">
      </div>
  
      <div class="address_phone" style="margin-left: 1.08%" >
        <div class="detailsrow1">
          <label class="whole_three_new">Address:</label>
          <label class="whole_three_new" >Phone:</label>
          <label class="whole_three_new" >Email:</label>
        </div>
  
        <div >
          <input class="whole_split_four_three_address_new" [(ngModel)] = "workQuote.address">
          <input class="whole_split_four_three_new" [(ngModel)] = "workQuote.phone">
          <input class="whole_split_four_three_new" [(ngModel)] = "workQuote.email">
        </div>
      </div>
    </div>
    <br>
      <div class="basicinfo">
        <label class="detail_one basicinfo1">Basic Info</label>
    </div>
    <div class="detailsrow1" style="margin-top: -10px; margin-left: 1.08%;">
      <label class="whole_one_new" >Primary Residence:</label>
      <label class="whole_one_new">Purchase Date:</label>
      <label class="whole_one_new" >Burglar Alarm:</label>
      <label class="whole_one_new">Number of storeys:</label>
    </div>
  
    <div style="margin-top: 3px; margin-left: 1.08%;">
      <input class="whole_split_four_one_new"  [(ngModel)] = "workQuote.primaryresidence">
      <input class="whole_split_four_one_new"   [(ngModel)] = "workQuote.purchasedate">

      <!-- <input style="margin-left: 2px;" matInput [matDatepicker]="picker2" placeholder="Choose a date"  [(ngModel)] = "workQuote.purchasedate">
      <mat-datepicker #picker2></mat-datepicker>
      <button mat-raised-button style="background: none; border: none;" (click)="picker2.open()"><img style="height: 20px; width: 20px;" src="/assets/calender_icn.png" ></button> -->

      <input class="whole_split_four_one_new"  [(ngModel)] = "workQuote.burglaralaram">
      <input class="whole_split_four_one_new"  [(ngModel)] = "workQuote.noofstories">
    </div>
    <div class="detailsrow1" style="margin-top: 5px; margin-left: 1.08%;">
      <label class="whole_one_new">Gender:</label>
      <label class="whole_one_new" >Number of people:</label>
      <label class="whole_one_new" >Fire Sprinklers:</label>
      <label class="whole_one_new">Occupation:</label>
    </div>
  
    <div style="margin-top: 3px;margin-left: 1.08%;">
      <input class="whole_split_four_one_new"  [(ngModel)] = "workQuote.gender">
      <input class="whole_split_four_one_new" [(ngModel)] = "workQuote.noofpeopleliving">
      <input class="whole_split_four_one_new" [(ngModel)] = "workQuote.firesprinklers">
      <input class="whole_split_four_one_new" [(ngModel)] = "workQuote.occupation">
    </div>
    <div class="detailsrow1" style="margin-top: 10px; margin-left: 1.08%;">
      <label class="whole_one_new">Fire Alarm:</label>
      <label class="backup" style="margin-left: 1px;">Emergency Backup generator:</label>
      <label class="emercency" style="size: 16px;">Home within 1,000 feet of a fire hydrant?</label>
    </div>
  
    <div style="margin-top: 4px;margin-left: 1.08%;">
      <input class="whole_split_four_one_new" [(ngModel)] = "workQuote.firealaram">
      <input class="whole_split_four_one_new" [(ngModel)] = "workQuote.emergencybackupgenerator">
      <input class="whole_split_four_one_new" style="margin-left: 6.67%" [(ngModel)] = "workQuote.firehydrant">
    </div>
    <hr style="width: 88%; margin-left: 1.33%; background-color: #e6e6e6; margin-top: 20px;">

    <div class="basicInfo1" >
      <label class="detail_one basicinfo1">Exterior</label>
  </div>
  <div class="detailsrow1" style="margin-top: -10px;margin-left: 1.08%;">
    <label class="whole_two_new">Exterior wall type:</label>
    <label class="whole_two_new">Type of garage:</label>
    <label class="whole_two_new">Roof style:</label>
    <!-- <label class="whole_one" style="margin-left: 12px; ">Swimming pool:</label> -->
  </div>
  
  <div style="margin-top: 4px;margin-left: 1.08%;">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.walltype">
    <input class="whole_split_four_two_new"  [(ngModel)] = "workQuote.typeofgarage">
    <input class="whole_split_four_two_new"  [(ngModel)] = "workQuote.roofstyle">
    <!-- <input class="whole_split_four_four" style="margin-left: -30px;" [(ngModel)] = "workQuote.swimmingpool"> -->
  </div>
  <div class="detailsrow1" style="margin-top: 5px;margin-left: 1.08%;">
    <label class="whole_two_new">Swimming pool:</label>
    <!-- <label class="whole_one" style="margin-left: -10px;">Swimming pool:</label> -->
    <!-- <label class="whole_one" style="margin-left: 36px;">Roof Age:</label>
    <label class="whole_one" style="margin-left: 12px;">Deck:</label> -->
  </div>
  
  <div style="margin-top: 4px;" style="margin-top: 5px;margin-left: 1.08%;">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.swimmingpool">
    <!-- <input class="whole_split_four_two" style="margin-left: -5px;"   [(ngModel)] = "workQuote.swimmingpool"> -->
    <!-- <input class="whole_split_four_three" style="margin-left: 8px;" [(ngModel)] = "workQuote.roofage">
    <input class="whole_split_four_four" style="margin-left: -30px;" [(ngModel)] = "workQuote.deck"> -->
  </div>
  <hr style="width: 88%; margin-left: 1.33%; background-color: #e6e6e6;margin-top: 15px;">

  <div class="basicInfo1">
    <label class="detail_one basicinfo1">Interior </label>
  </div>
  <div class="detailsrow1" style="margin-top: -1.33%;margin-left: 1.08%;">
  <label class="whole_two_new">Foundation Type:</label>
  <label class="whole_two_new" style="margin-left: 2px;"> Pets at Home:</label>
  <label class="whole_two_new" style="margin-left: -5px;">Home Automation:</label>
  </div>
  
  <div style="margin-top: 4px;margin-left: 1.08%;">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.foundationtype">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.pets">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.homeautomationsystem">
  </div>
  <div class="detailsrow1" style="margin-top: 5px;margin-left: 1.08%;">
  <label class="whole_two_new"> Kind of Pets:</label>
  <label class="whole_two_new"> Number of Breeds:</label>
  <label class="whole_two_new" > Kitchen countertops:</label>

  </div>
  
  <div style="margin-top: 4px;margin-left: 1.08%;">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.kindofpet">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.noofbreeds">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.kitchencountertops">

  </div>

  <hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;margin-top: 15px;">

  <div class="basicInfo1">
    <label class="detail_one basicinfo1">Customer Info </label>
  </div>
  <div class="detailsrow1" style="margin-top: -10px;margin-left: 1.08%;">
  <label class="whole_two_new">Age:</label>
  <label class="whole_two_new" >Smoker status:</label>
  <label class="whole_two_new" >Past property claims or losses:</label>
  </div>
  
  <div style="margin-top: 4px;margin-left: 1.08%;">
  <input class="whole_split_four_two_new"  [(ngModel)] = "workQuote.age">
  <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.smokerstatus">
  <input class="whole_split_four_two_new"  [(ngModel)] = "workQuote.pastpropertyclaimsorlosses">
  </div>
  <div class="detailsrow1" style="margin-top: 5px;margin-left: 1.08%;">
  <label class="whole_two_new">Marital Status:</label>
  <label class="whole_two_new" >Criminal Convictions:</label>
  <label class="whole_two_new" >Running business from home:</label>
  </div>
  
  <div style="margin-top: 4px;margin-left: 1.08%;">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.maritalstatus">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.criminalconvictions">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.runningbusinessfromhome">
  </div>
  <hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6;margin-top: 15px;">

  
  <!-- deleted -->
  <div class="basicInfo1">
    <label class="detail_one basicinfo1">Summary Coverages(in $)</label>
  </div>
  <div class="detailsrow1" style="margin-top: -10px;margin-left: 1.08%;">
  <label class="whole_two_new" >Dwelling Protection:</label>
  <label class="whole_two_new" >Personal Liability Protection: </label>
  <label class="whole_two_new" >Additional Living expenses:</label>
  </div>
  
  <div style="margin-top: 4px;margin-left: 1.08%;">
  <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.dwellingprotection">
  <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.propertyprotection">
  
  <input class="whole_split_four_two_new"  [(ngModel)] = "workQuote.additionallivingexpenses">
  </div>
  <div class="detailsrow1" style="margin-top: 5px;margin-left: 1.08%;">
  <label class="whole_two_new">Other Structures:</label>
  <label class="whole_two_new" >Personal Property Protection:</label>
  <!-- <label class="emercency">Family Liability Protection:</label> -->
  </div>
  
  <div style="margin-top: 4px;margin-left: 1.08%;">
  <input class="whole_split_four_two_new"  [(ngModel)] = "workQuote.otherstructures">
  <input class="whole_split_four_two_new"  [(ngModel)] = "workQuote.propertyagainst">
  <!-- <input class="whole_split_four_one" style="margin-left: 68px;" [(ngModel)] = "workQuote.familyliabilityprotection"> -->
  </div>
  <hr style="width: 88%; margin-left: 10px; background-color: #e6e6e6; margin-top: 20px;">

  <div class="basicInfo1">
    <label class="detail_one basicinfo1">Discounts & Surcharges</label>
  </div>
  <div class="detailsrow1" style="margin-top: -10px;margin-left: 1.08%;">
  <label class="whole_two_new">New Construction Discount:</label>
  </div>
  
  <div style="margin-top: 4px;margin-left: 1.08%;">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.newconstructiondiscount">
  </div>

  <hr style="width: 88%; margin-left: 1.33%; background-color: #e6e6e6;margin-top: 15px;">

  <div class="basicinfo">
    <label class="detail_one basicinfo1">Deductibles</label>
  </div>
  <div style="margin-top: -10px;margin-left: 1.08%">
  <label class="whole_two_new" >All Perils deductible:</label>
  <label class="whole_two_new">Windstorm/Hail Deductible: </label>

  </div>
  
  <div style="margin-top: 4px;margin-left: 1.08%">
    <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.allperilsdeductible">
    <input class="whole_split_four_two_new"  [(ngModel)] = "workQuote.windstormorhail">
  
    </div>
    <br>
    <br>
    <div class="detailsrow1"  style="margin-left: 1.08%" >
    <label class="whole_two_new">FINAL PREMIUM:</label>
    </div>
    
    <div style="margin-top: 4px;margin-left: 1.08%">
      <input class="whole_split_four_two_new" [(ngModel)] = "workQuote.extrapremium">
    </div>
    <br>
  
  
    <div  >
      <div class="form-group" style="width: 100%;">
        <div style="width: 100%;">
          <button id="button1id" name="button1id" class="button_colour"  (click)="navigateDaashboard()">Request to  Bind</button>
          <button id="button2id" name="button2id" class="button_colour" (click)="rejectRequest()">Reject Quote</button>
          <button id="button3id" name="button3id" class="button_colour" (click)="bindRequest()">Contact Prospect</button>
  
          </div>
    </div>
    </div>
    
 
  
    
  
    <br>
    <br>
  
  
  </div>