.main{
    width: 830px;
    height: 100%;
    /* margin: 8px; */
    background: #ffffff;
}
.details{
    height: 131px;
    background: #f2f2f2;
}
.detailsrow1{
    display: flex;
    /* margin-top: 4px; */
}
.detailsrow2{
    display: flex;
}

.detail_one{
    width:  330px;
    font-family: verdana;
    font-weight: medium;
    font-size: 14px;
    margin-left: 8px;
}

.detail_two{
    min-width: 254px;
    font-family: verdana;
    font-weight: medium;
    margin-left: 8px;
    font-size: 14px;
}

.marginQuote{
    margin-left: 10px;
}
.detail_one_value{
    min-width:330px;
    font-family: verdana;
    font-size: 16px;
    margin-left: 8px;
}

.detail_two_value{
    min-width:240px;
    font-family: verdana;
    font-size: 16px;
    margin-left: 100px;
}
.address_phone{
    height: 54px;
    background: #e8e8e8;
    padding-top: 8px;
}
.basicinfo{
    min-width: 251px;
    font-family: verdana;
    font-weight: medium;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 14px;
}
.whole_one{
    width:  207px;
    font-family: verdana;
    font-weight: medium;
    font-size: 14px;
    margin-left: 8px;
}

.whole_two{
    min-width: 207px;
    font-family: verdana;
    margin-left: 8px;
    font-size: 13px;
}
.emercency{
    width:  336px;
    font-family: verdana;
    font-weight: medium;
    font-size: 14px;
    margin-left: 8px;
}
.windstorm{
    width:  336px;
    font-family: verdana;
    font-weight: medium;
    font-size: 14px;
    margin-left: 130px;
}
.backup{
    width:  230px;
    font-family: verdana;
    font-weight: medium;
    font-size: 14px;
}
.whole_one_value{
    min-width:336px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 8px;
}
.whole_edit_one{
    width: 200px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 71px;
}
.whole_edit_three{
    width: 200px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 70px;
}
.whole_edit_two{
    width: 200px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 8px;
}
.whole_edit_address{
    width: 250px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 8px;
    margin-right: 40px;
}
.whole_edit_addresstwo{
    width: 145px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 8px;
    margin-right: 101px;
}

.whole_split_four_one{
    width: 125px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 8px;
    margin-right: 75px;
}
.whole_split_four_two{
    width: 125px;
    font-family: verdana;
    font-size: 13px;
    margin-right: 75px;
}
.whole_split_four_three{
    width: 125px;
    font-family: verdana;
    font-size: 13px;
    margin-right: 75px;
}
.whole_split_four_five{
    width: 100px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 50px;
}
.whole_split_four_four{
    width: 125px;
    font-family: verdana;
    font-size: 13px;
}
.whole_split_three_one{
    width: 200px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 8px;
    /* margin-right: 128px; */
}
.whole_split_three_two{
    width: 200px;
    font-family: verdana;
    font-size: 13px;
    margin-right: 60px;
}
.whole_split_date_one{
    width: 150px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 8px;
    margin-right: 150px;
}
.whole_split_date_two{
    width: 150px;
    font-family: verdana;
    font-size: 13px;
    margin-right: 91px;
}

.margin{
    margin-left: 10px;
}
.whole_split_email{
    width: 160px;
    font-family: verdana;
    font-size: 13px;
    margin-right: 3px;
    margin-left: 8px;
    margin-top: 2px;
}
.whole_selct{
    width: 207px;
    font-family: verdana;
    margin-right: 50px;
    font-size: 13px;
    margin-left: 80px;
}
.addtional_one_value{
    min-width:336px;
    font-family: verdana;
    font-size: 13px;
    margin-left: 55px;
}
.form-group {
    display: flex;
    float:inherit;
    background: #ffffff;
}
.button_colour {
    height: 55px;
    width: 245px;
    font-family: Verdana;
    font-weight: bold;
    color: #fcdccf;
    background-color: #fa6119;
    border-radius: 5px;
    margin-top: 19px;
    margin-left: 12px;
    text-align: center;
    font-size: 14px;
    border: none;
}
.basicinfo1{
    font-size: 18px;
}