<div class="header" style="overflow: hidden;"> 
    <img class="logo" src="../assets/logo.png">
  
    <div class="logout">
        <img class="logoutIcon" src="../assets/logout_icn.png">
    </div>
  
        <img class="helpIcon" src="../assets/help_icn.png">
        <img class="notificationIcon" src="../assets//notification_icn.png">
        <img class="userIcon" src="../assets/user_img.png">
        <p class="welcome"> Welcome <br/>
            Mr. Mark Wells
        </p>
  
  </div>
  
  
  <div class="basicinfo">
      <label class="detail_one">Summary Coverages</label>
    </div>
    <div class="detailsrow1">
    <label class="emercency">Dwelling Protection:</label>
    <label class="emercency">Protect Personal Property Against: </label>
    <label class="emercency">Additional Living expenses:</label>
    </div>
    
    <div class="detailsrow1">
    <input class="whole_two" value = {{workQuote.coverages.dwellingprotection}}>
    <input class="whole_edit_one" value = {{workQuote.coverages.propertyagainst}}>
    <input class="whole_edit_one" value = {{workQuote.coverages.additionallivingexpenses}}>
    </div>
    <br>
    <div class="detailsrow1" style="margin-top: 5px;">
    <label class="emercency">Other Structures:</label>
    <label class="emercency">Personal Property Protection:</label>
    <label class="emercency">Family Liability Protection:</label>
    </div>
    
    <div class="detailsrow1">
    <input class="whole_two" value = {{workQuote.coverages.otherstructures}}>
    <input class="whole_edit_one"  value = {{workQuote.coverages.propertyprotection}}>
    <input class="whole_edit_one" value = {{workQuote.coverages.familyliabilityprotection}}>
    </div>
    
    <div class="basicinfo">
      <label class="detail_one">Discounts & Surcharges</label>
    </div>
    <div class="detailsrow1">
    <label class="emercency">New Construction Discount:</label>
    </div>
    
    <div class="detailsrow1">
    <input class="whole_two" value = {{workQuote.discountsandsurcharges.newconstructiondiscount}}>
    </div>
    <div class="basicinfo">
      <label class="detail_one">Deductibles</label>
    </div>
    <div class="detailsrow1">
    <label class="emercency">All Perils deductible:</label>
    <label class="emercency">Windstorm/Hail Deductible: </label>
    </div>
    
    <div class="detailsrow1">
    <input class="whole_two" value={{workQuote.deductibles.allperilsdeductible}}>
    <input class="whole_edit_one" value={{workQuote.deductibles.windstormorhail}}>
    
      </div>
      <br>
      <br>
      <div class="detailsrow1" >
      <label class="emercency">ESTIMATED PREMIUM:</label>
      </div>
      
      <div class="detailsrow1">
      <input class="whole_two" value = {{workQuote.finalpremium}}>
      </div>
      <br>
      <br>
      <div class="detailsrow1" style="margin-top: 20px;margin-left: 200px;">
        <button class="quoteButton" (click) = "navigateToUnderwriter()"> UPDATE QUOTE</button>
        <button class="quoteButton" (click) = "navigateToUnderwriter()"> EMAIL QUOTE</button>
        </div>