<div class="header" style="overflow: hidden;"> 
    <!-- <img class="logo" src="../assets/logo.png"> -->
    <div class="company">  ABC Insurance Company </div>

    <!-- <div class="logout">
        <img class="logoutIcon" src="../assets/logout_icn.png">
    </div>
  
        <img class="helpIcon" src="../assets/help_icn.png">
        <img class="notificationIcon" src="../assets//notification_icn.png">
        <img class="userIcon" src="../assets/user_img.png">
        <p class="welcome"> Welcome <br/>
            Ms. Mark Wells
        </p> -->
  
  </div>
  
  
  <div>
      <div class="titleHead">Summary of Coverages (in $)</div>
    </div>
    <div class="detailsrow1">
    <label class="emercency">Dwelling Protection:</label>
    <label class="emercency" style="margin-left: -10px;">Protect Personal Property Against: </label>
    <label class="emercency"style="margin-left: -10px;">Additional Living expenses:</label>
    <label class="emercency" style="margin-left: -20px;">Other Structures:</label>
    </div>
    
    <div class="detailsrow1">
    <input type="text" class="whole_two" [(ngModel)] = "workQuote.dwellingprotection">
    <input type="text" class="whole_edit_one" [(ngModel)] = "workQuote.propertyagainst">
    <input type="text" class="whole_edit_one" [(ngModel)] = "workQuote.additionallivingexpenses">
    <input type="text" class="whole_edit_one" [(ngModel)] = "workQuote.otherstructures">
    </div>
    <br>

    <div class="detailsrow1" style="margin-top: 5px;">
    <label class="emercency">Personal Property Protection:</label>
    <label class="emercency1 ">Personal Liability Protection:</label>
    <label class="emercency1">Medical payment to others:</label>
    </div>
    
    
    <div class="detailsrow1">
    
    <input type="text" class="new"  [(ngModel)] = "workQuote.propertyprotection">
    <input type="text" class="whole_edit_one new1" [(ngModel)] = "workQuote.familyliabilityprotection">
    <input type="text" class="whole_edit_one" [(ngModel)] = "workQuote.medicalpayment">

    </div>
    <hr style="margin-top: 20px; width: 95%; height: 1px; background-color: #e6e6e6;">

    <div class="basicinfo">
      <label class="titleHead">Total Area Discounts & Surcharges</label>
    </div>
    <div class="detailsrow1">
    <label class="emercency">New Construction Discount:</label>
    </div>

    <div class="detailsrow1">
    <input type="text" class="whole_two" [(ngModel)] = "workQuote.newconstructiondiscount">
    </div>

    <hr style="margin-top: 20px; width: 95%; height: 1px; background-color: #e6e6e6;">

    <div class="basicinfo">
      <label class="titleHead">Deductibles</label>
    </div>
    <div class="detailsrow1">
    <label class="emercency">All Perils deductible:</label>
    <label class="emercency1">Windstorm/Hail Deductible: </label>
    </div>
    
    <div class="detailsrow1">
    <input type="text" class="whole_two" [(ngModel)] = "workQuote.allperilsdeductible">
    <input type="text" class="whole_edit_one" [(ngModel)] = "workQuote.windstormorhail">
    
      </div>
      <hr style="margin-top: 20px; width: 95%; height: 1px; background-color: #e6e6e6;">

    
        
          <div class="detailsrow1" >
      <label class="emercency2">ESTIMATED PREMIUM:</label>
      </div>
      
      <div class="detailsrow1">
      <input class="whole_two"  [(ngModel)] = "workQuote.extrapremium">
      </div>
      <hr style="margin-top: 20px; width: 95%; height: 1px; background-color: #e6e6e6;">
      <br>
      <div class="detailsrow1" style="margin-top: 20px;margin-left: 200px;">
        <button class="buttons" (click) = "navigateToUnderwriter()"> SAVE AND EMAIL QUOTE</button>
        <button class="buttons" (click) = "navigateToUnderwriter()"> PRINT</button>
        </div>