.header{
    z-index: 1;
    padding: .5rem 1.25rem;
    background-color: #0066a1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 76px;
    color: #ffffff;
}

.logo{
    height: 32px;
    width: 176px;
    margin-top: 14px;
}

.logoutIcon{
    float: right;
    height: 30px;
    width: 30px;
    margin-top: 15px;
}

.logout{
    float: right;
    fill: #000;
    height: 76px;
    width: 79px;
}

.helpIcon{
    float: right;
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-right: 26px;
}

.notificationIcon{
    float: right;
    height: 30px;
    width: 24px;
    margin-top: 15px;
    margin-right: 26px;
}

.userIcon{
    float: right;
    height: 45px;
    width: 45px;
    margin-top: 15px;
    margin-right: 26px;
}

.welcome{
    float: right;
    margin-top: 15px;
    margin-right: 14px;
}

.footer{
    z-index: 1;
    padding: .5rem 1.25rem;
}