<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="header"> 
    <img class="logo" src="../assets/logo.png">

    <div class="logout">
        <img class="logoutIcon" src="../assets/logout_icn.png">
    </div>

        <img class="helpIcon" src="../assets/help_icn.png">
        <img class="notificationIcon" src="../assets//notification_icn.png">
        <img class="userIcon" src="../assets/user_img.png">
        <p class="welcome"> Welcome <br/>
            Mr. Mark Wells
        </p>
  
</div>

<router-outlet></router-outlet>


<!--  -->