.labels{
    font-weight: bold;
}

.pop{
    float: left;
    border: none;
    margin-top: 2px;

}

.row{
    width: 100%;
    height: 35px;
    background: linear-gradient(to bottom, #ffffff, #e8e8e8); 
    margin-left: 0px;
    display: block;
    padding: 5px;
 }

 .crossimg{
    float: right;
  }
  