<button class="pop" mat-button mat-dialog-close><img src="../assets/poup_drag_icn.png"></button>

<mat-dialog-content>
<div>
    <div>It is observed the Coverage amount for Coverage A is $400,000. <br/>
         However, based on the combined factors of claim probability and <br/>
         the credit history of the prospect, the recommended  amount of<br/>
         Coverage A should be no more than $350,000. If the <br/>
         Coverage A is set to $400,000 it is recommended that the monthly <br/>
         premium is increased by 5%.<br/><br/>


        The person is likely to opt for below coverages. It would be<br/>
        recommended that the said coverages are offered before binding<br/>
        the policy:<br/>
    </div>
    <div class="labels"> 
        a. Fur<br/>
        b. Jewellery<br/>
        c. Cameras<br/>

    </div>

</div>
</mat-dialog-content>